<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 관리 | 관리자 메뉴</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_list.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_SHAdd.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
<div id="wrap">
    <header class="header" th:replace="~{admin/common/admin_header_footer::header}"></header>
    <div class="container">
        <div class="contents_wrap safe_area">
            <aside class="side_menu" th:replace="~{admin/common/admin_sidemenu::side}"></aside>
            <main>
                <div class="location">
                    <div class="location_title"><h2>회원정보</h2></div>
                </div>

                <div id="board" class="clearfix">
                    <div id="contents">
                        <form th:action="@{/admin/member/list}" method="get" class="board_searchform">
                            <div class="p-search clearfix">
                                <div class="p-form-group">
                                    <select name="searchType" class="p-input">
                                        <!-- 새로고침해도 최근 검색조건 유지되도록 selected -->
                                        <option value="I" th:selected="${pageMaker.cri.searchType eq 'I'}">아이디</option>
                                        <option value="N" th:selected="${pageMaker.cri.searchType eq 'N'}">이름</option>
                                        <option value="P" th:selected="${pageMaker.cri.searchType eq 'P'}">휴대폰번호</option>
                                        <option value="E" th:selected="${pageMaker.cri.searchType eq 'E'}">이메일 주소</option>
                                        <option value="D" th:selected="${pageMaker.cri.searchType eq 'D'}">가입일</option>
                                    </select>
                                    <input name="searchKeyword" th:value="${pageMaker.cri.searchKeyword}" id="searchKeyword" class="p-input" type="text">

                                    <input type="hidden" name="pageNum" value="1"> <!-- 검색 후 무조건 1페이지로 가도록함 -->
                                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">

                                    <span class="p-form-group__btn">
                                        <input value="검색" type="submit" class="p-button">
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="page_cou clearfix">
                        <p>
                            총 <em class="em_black" th:text="${total}">0</em> 개 &nbsp;[
                            <em class="em_b_black" th:text="${pageMaker.cri.pageNum}">1</em> /
                            <span th:text="${pageMaker.realEnd}">1</span> 페이지]
                        </p>
                    </div>

                    <table class="p_table p-table--ellipsis">
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 18%;">
                            <col style="width: 30%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">사용자 ID</th>
                            <th scope="col">사용자 이름</th>
                            <th scope="col">휴대폰</th>
                            <th scope="col">이메일</th>
                            <th scope="col">가입일</th>
<!--                            0202 귀환 추가-->
                            <th scope="col">로그인 종류</th>
                        </tr>
                        </thead>
                        <tbody class="tb_text">
                        <tr th:each="member, status : ${list}">
                            <td th:text="${total - (pageMaker.cri.pageNum - 1) * pageMaker.cri.amount - status.index}"></td>

                            <td class="p_sub" style="text-align: center;" th:title="${member.memId}">
                                <a th:href="@{/admin/member/view(memId=${member.memId}, pageNum=${pageMaker.cri.pageNum}, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                   th:text="${member.memId}" style="color:blue; text-decoration:underline;">아이디</a>
                            </td>

                            <td th:text="${member.memName}" th:title="${member.memName}">이름</td>
                            <td th:text="${member.memPhone}">010-0000-0000</td>

                            <td th:text="${member.memEmail}" th:title="${member.memEmail}">test@test.com</td>

                            <td><time th:text="${#dates.format(member.memRegDate, 'yyyy-MM-dd')}"></time></td>
<!--                            0202 귀환 추가-->
                            <td th:text="${member.loginType} ?: '일반'" style="padding: 15px; border-bottom: 1px solid #ececec;">일반</td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(list)}">
                            <td colspan="6" class="no_data">등록된 회원이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="p_ctrl">
                        <div class="p_control">
                                <span class="p-link_b">
                                <a th:if="${pageMaker.realEnd > 10}"
                                   th:href="@{/admin/member/list(pageNum=1, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                   class="p_link" title="맨 처음">&lt;&lt;
                                </a>

                                <a th:if="${pageMaker.realEnd > 10}"
                                   th:href="@{/admin/member/list(pageNum=${pageMaker.prev ? pageMaker.startPage - 1 : 1}, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                   class="p_link" title="이전">&lt;
                                </a>

                                <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                    <strong th:if="${pageMaker.cri.pageNum == num}" class="p_link active" th:text="${num}"></strong>
                                    <a th:if="${pageMaker.cri.pageNum != num}"
                                       th:href="@{/admin/member/list(pageNum=${num}, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                       class="p_link" th:text="${num}">

                                    </a>
                                </th:block>

                                <a th:if="${pageMaker.realEnd > 10}"
                                   th:href="@{/admin/member/list(pageNum=${pageMaker.next ? pageMaker.endPage + 1 : pageMaker.realEnd}, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                   class="p_link" title="다음">&gt;
                                </a>

                                <a th:if="${pageMaker.realEnd > 10}"
                                   th:href="@{/admin/member/list(pageNum=${pageMaker.realEnd}, amount=${pageMaker.cri.amount}, searchType=${pageMaker.cri.searchType}, searchKeyword=${pageMaker.cri.searchKeyword})}"
                                   class="p_link" title="맨 끝">&gt;&gt;
                                </a>
                                </span>
                        </div>
                    </div>
                </div> </main>
        </div>
    </div>
    <footer class="footer" th:replace="~{admin/common/admin_header_footer::footer}"></footer>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var result = /*[[${result}]]*/ 'default';
    if(result === "success") { alert("삭제되었습니다."); }
    /*]]>*/
</script>
</body>
</html>