<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자치회관 게시판 | 자치회관 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_gallery_view.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
<!--    <script>const menuName = '';</script>-->
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header" th:replace="~{/admin/common/admin_header_footer::header}"></header>
        <!-- //header -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu" th:replace="~{/admin/common/admin_sidemenu::side}"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>포토갤러리</h2>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div class="contents" id="board">
                        <div class="board clearfix">
                            <div class="bbs_wrap">
                                <div class="bbs_info">
                                    <div class="bbs_count">
                                        <span class="line">
                                            조회수
                                            <strong>10</strong>
                                        </span>
                                        <span>
                                            작성일
                                            <strong>2026.01.22</strong>
                                        </span>
                                    </div>
                                </div>
                                <table class="p-table">
                                    <colgroup>
                                        <col class="w20p">
                                        <col>
                                    </colgroup>
                                    <tbody class="p-tb">
                                        <tr>
                                            <td colspan="2"><span class="td_title">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" >부서</th>
                                            <td>영등포본동</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">연락처</th>
                                            <td>02-2670-1026</td>
                                        </tr>
                                        <!-- 이미지 -->
                                        <tr>
                                            <td title="내용" class="p-table_content" colspan="2">

                                                <div class="p-photo">
                                                    <div class="p-photo_wrap">
                                                        <img th:src="@{/images/sub/gal_pic1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 1번째 파일">
                                                        <span class="p-photo_zoom">
                                                            <a th:href="@{/images/sub/gal_pic1.jpg}" class="p-photo_link" target="_blank" title="새창">
                                                                <span class="p-extend"></span>
                                                                이미지 확대보기
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="p-photo">
                                                    <div class="p-photo_wrap">
                                                        <img th:src="@{/images/sub/gal_pic2.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 2번째 파일">
                                                        <span class="p-photo_zoom">
                                                            <a th:href="@{/images/sub/gal_pic2.jpg}"  class="p-photo_link" target="_blank" title="새창">
                                                                <span class="p-extend"></span>
                                                                이미지 확대보기
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                영등포본동 새마을지도자협의회 1월 월례회의 개최
                                            </td>
                                        </tr>
                                        
                                        <!-- <tr>
                                            <td colspan="2" class="td_text">영등포본동 새마을지도자협의회 1월 월례회의 개최</td>
                                        </tr> -->
                                        <tr>
                                            <th scope="row" >파일</th>
                                            <td>
                                                <ul class="p-attach">
                                                    <li class="p-attach_item">
                                                        <a class="p-attach_link" href="#" >
                                                            <span class="p-icon p-icon_jpg"></span>
                                                            <span>1769039728788.jpg</span>
                                                            <span class="p-down_icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" target="_blank" title="새창" class="p-attach_prv gal_down">
                                                            <span class="p-prv"></span>
                                                            다운로드
                                                        </a>
                                                    </li>
                                                    
                                                    <li class="p-attach_item">
                                                        <a class="p-attach_link" href="#" >
                                                            <span class="p-icon p-icon_jpg"></span>
                                                            <span>1769039728652.jpg</span>
                                                            <span class="p-down_icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" target="_blank" title="새창" class="p-attach_prv gal_down">
                                                            <span class="p-prv"></span>
                                                            다운로드
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="form_btns_wrap">
                                    <div class="btns">
                                        <!-- 수정 버튼은 그대로 링크 -->
                                        <a th:href="@{/admin/gallery/update}" class="btn btn_bordered update">수정</a>

                                        <!-- 삭제 버튼을 form으로 감싸 POST 요청 -->
                                        <form th:action="@{/admin/gallery/delete}" method="post" style="display:inline;">
                                            <input type="hidden" name="cmntId" th:value="1">
                                            <input type="hidden" name="pageNum" th:value="22">
                                            <input type="hidden" name="amount" th:value="333">
                                            <input type="hidden" name="searchType" th:value="4444">
                                            <input type="hidden" name="searchKeyword" th:value="55555">
                                            <button type="submit" class="btn btn_bordered delete">삭제</button>
                                        </form>
                                    </div>
                                    <div class="btns">
                                        <a class="p-btn" th:href="@{/admin/gallery/list}">
                                            목록
                                            <span class="p-btn_write"></span>
                                        </a>
                                    </div>
                                </div>

                                <ul class="p-post">
                                    <li class="p-post-move prev">
                                        <strong class="p-post-move_title">이전글</strong>
                                        <a href="#" class="p-post-move_link">1.22(목) 영등포본동 주민자치위원회 정기회의</a>
                                    </li>
                                    <li class="p-post-move next">
                                        <strong class="p-post-move_title">다음글</strong>
                                        <a href="#" class="p-post-move_link">1.13(화) 영등포본동 주민자치위원회 정기회의</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <!-- //contents -->
                    
                    <!-- charge info -->
                    <div class="charge_info">
                        <ul>
                            <li>
                                <span class="info_name">담당부서</span>
                                <span>영등포본동</span>
                            </li>
                            <li>
                                <span class="info_name">담당전화번호</span>
                                <span>02-2670-1026</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //charge info -->
                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer" th:replace="~{/admin/common/admin_header_footer::footer}"></footer>
        <!-- //footer -->
    </div>
</body>
</html>
