<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구청소식 | 관리자 메뉴</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_view.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header" th:replace="~{/admin/common/admin_header_footer::header}"></header>
        <!-- //header -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu" th:replace="~{/admin/common/admin_sidemenu::side}"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>구청소식</h2>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div class="contents" id="board">
                        <div class="board clearfix">
                            <div class="bbs_wrap">
                                <div class="bbs_info">
                                    <div class="bbs_count">
                                        <span class="line">
                                            조회수
                                            <strong th:text="${board.gnewsCount}"></strong>
                                        </span>
                                        <span>
                                            작성일
                                            <strong th:text="${#dates.format(board.gnewsDate, 'yyyy-MM-dd')}"></strong>
                                        </span>
                                    </div>
                                </div>
                                <table class="p-table">
                                    <colgroup>
                                        <col class="w20p">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span class="td_title" th:text="${board.gnewsTitle}"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="td_text">
                                                <th:block th:if="${board.files != null and #lists.size(board.files) > 0}">
                                                    <div class="board_img_view" th:each="file : ${board.files}" th:if="${file.insertYn == 'Y' and (file.fileType.contains('jp') or file.fileType.contains('png') or file.fileType.contains('gif'))}">
                                                        <img th:src="@{/admin/gunews/download(fileId=${file.fileId})}" th:alt="${file.altText != null ? file.altText : board.gnewsTitle}">
                                                    </div>
                                                </th:block>
                                                <div class="board_content" th:text="${board.gnewsContent}"></div>
                                            </td>
                                        </tr>
                                        <tr th:if="${board.gnewsDepartment}">
                                            <th scope="row">부서</th>
                                            <td th:text="${board.gnewsDepartment}"></td>
                                        </tr>
                                        <tr th:if="${board.gnewsTel}">
                                            <th scope="row">연락처</th>
                                            <td th:text="${board.gnewsTel}"></td>
                                        </tr>
                                        <tr th:if="${board.gnewsOpentype == 'Y'}">
                                            <th scope="row">공공누리</th>
                                            <td>
                                                <img th:src="@{/images/sub/img_opentype.png}" alt="공공누리의 제1유형 : 출처표시">
                                            </td>
                                        </tr>
                                        <tr th:if="${board.files != null and #lists.size(board.files) > 0}">
                                            <th scope="row">파일</th>
                                            <td>
                                                <ul class="p-attach">
                                                    <li class="p-attach_item" th:each="file : ${board.files}">
                                                        <a class="p-attach_link" th:href="@{/admin/gunews/downloadattachment(fileId=${file.fileId})}">
                                                            <span th:class="*{'file_icon ' + file.fileType}" th:title="*{file.fileType}"></span>
                                                            <span th:text="*{file.fileName}">파일명 출력</span>
                                                            <span class="p-down_icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a th:href="@{/admin/gunews/download(fileId=${file.fileId})}" target="_blank" class="p-attach_prv">
                                                            <span class="p-prv"></span>
                                                            미리보기
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form_btns_wrap">
                                    <div class="btns">
                                        <!-- 수정 버튼은 그대로 링크 -->
                                        <a th:href="@{/admin/gunews/update(gnewsId=${board.gnewsId}, pageNum=${cri.pageNum}, amount=${cri.amount}, searchType=${cri.searchType}, searchKeyword=${cri.searchKeyword})}" class="btn btn_bordered update">수정</a>

                                        <!-- 삭제 버튼을 form으로 감싸 POST 요청 -->
                                        <form th:action="@{/admin/gunews/delete}" method="post" style="display:inline;">
                                            <input type="hidden" name="gnewsId" th:value="${board.gnewsId}">
                                            <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
                                            <input type="hidden" name="amount" th:value="${cri.amount}">
                                            <input type="hidden" name="searchType" th:value="${cri.searchType}">
                                            <input type="hidden" name="searchKeyword" th:value="${cri.searchKeyword}">
                                            <button type="submit" class="btn btn_bordered delete">삭제</button>
                                        </form>
                                    </div>
                                    <div class="btns">
                                        <a class="p-btn" th:href="@{/admin/gunews/list(pageNum=${cri.pageNum}, amount=${cri.amount}, searchType=${cri.searchType}, searchKeyword=${cri.searchKeyword})}">
                                            목록
                                            <span class="p-btn_write"></span>
                                        </a>
                                    </div>
                                </div>

                                <!-- 이전글, 다음글 -->
                                <ul class="p-post">
                                    <li class="p-post-move prev" th:if="${prev != null}" th:object="${prev}">
                                        <strong class="p-post-move_title">이전글</strong>
                                        <a th:href="@{/gunews/view(gnewsId=*{gnewsId}, pageNum=${cri.pageNum}, amount=${cri.amount}, searchType=${cri.searchType}, searchKeyword=${cri.searchKeyword})}" class="p-post-move_link" th:text="*{gnewsTitle}"></a>
                                    </li>
                                    <li class="p-post-move next" th:if="${next != null}" th:object="${next}">
                                        <strong class="p-post-move_title">다음글</strong>
                                        <a th:href="@{/gunews/view(gnewsId=*{gnewsId}, pageNum=${cri.pageNum}, amount=${cri.amount}, searchType=${cri.searchType}, searchKeyword=${cri.searchKeyword})}" class="p-post-move_link" th:text="*{gnewsTitle}"></a>
                                    </li>
                                </ul>
                                <!-- //이전글, 다음글 -->
                            </div>
                        </div>


                    </div>
                    <!-- //contents -->

                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer" th:replace="~{/admin/common/admin_header_footer::footer}"></footer>
        <!-- //footer -->
    </div>
</body>
</html>
