<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자치회관 게시판 | 자치회관 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_write.css}">
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script>const menuName = '자치회관 게시판';</script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>

<div id="wrap">
    <!-- header -->
    <header class="header" th:replace="~{/admin/common/admin_header_footer::header}"></header>
    <!-- //header -->
    <div class="contents_wrap safe_area">

        <!-- 사이드 메뉴 -->
        <aside class="side_menu"
               th:replace="~{/admin/common/admin_sidemenu::side}">
        </aside>

        <main>
            <div class="contents">
                <div class="board_write">

                    <form action="#" th:action="@{/admin/slide/register}" method="post" enctype="multipart/form-data">

                        <label>제목</label>
                        <input type="text" name="title" />

                        <label>링크</label>
                        <input type="text" name="linkUrl" />

                        <label>순서</label>
                        <input type="number" name="sortOrder" value="1" />

                        <label>노출</label>
                        <select name="useYn">
                            <option value="Y">노출</option>
                            <option value="N">비노출</option>
                        </select>

                        <label>이미지</label>
                        <input type="file" name="file" />

                        <button type="submit">등록</button>
                    </form>


                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>


