
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자치회관 게시판 | 자치회관 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_view.css}">
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script>const menuName = '자치회관 게시판';</script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>

                    <!-- contents -->
                    <div class="contents" id="board">
                        <div class="board clearfix">
                            <div class="bbs_wrap">
                                <div class="bbs_info">
                                    <div class="bbs_count">
                                        <span class="line">
                                            조회수
                                            <strong th:text="${board.cmntCount}"></strong>
                                        </span>
                                        <span>
                                            작성일
                                            <strong th:text="${#dates.format(board.cmntDate, 'yyyy-MM-dd')}"></strong>
                                        </span>
                                    </div>
                                </div>
                                <table class="p-table">
                                    <colgroup>
                                        <col class="w20p">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><span class="td_title" th:text="${board.cmntTitle}"></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="td_text" th:text="${board.cmntContent}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">행정동</th>
                                            <td>영등포본동</td>
                                        </tr>
                                        <!-- 부서가 있을 때만 표시 -->
                                        <tr th:if="${board.cmntDepartment != null}">
                                            <th scope="row">부서</th>
                                            <td th:text="${board.cmntDepartment}"></td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="form_btns_wrap">
                                    <div class="btns">
                                        <!-- 수정 버튼은 그대로 링크 -->
                                        <a th:href="@{/admin/community/update(cmntId=${board.cmntId})}" class="btn btn_bordered update">수정</a>

                                        <!-- 삭제 버튼을 form으로 감싸 POST 요청 -->
                                        <form th:action="@{/admin/community/delete}" method="post" style="display:inline;">
                                            <input type="hidden" name="cmntId" th:value="${board.cmntId}">
                                            <button type="submit" class="btn btn_bordered delete">삭제</button>
                                        </form>
                                    </div>
                                    <div class="btns">
                                        <a href="#" class="p-btn">
                                            목록
                                            <span class="p-btn_write"></span>
                                        </a>
                                    </div>
                                </div>
                                <ul class="p-post">
                                    <li class="p-post-move prev">
                                        <strong class="p-post-move_title">이전글</strong>
                                        <a href="#" class="p-post-move_link">2025년 상반기 영등포본동 자치회관 운영결과 보고서</a>
                                    </li>
                                    <li class="p-post-move next">
                                        <strong class="p-post-move_title">다음글</strong>
                                        <a href="#" class="p-post-move_link">2024년 상반기 영등포본동 자치회관 운영결과 보고서</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <!-- //contents -->
                    
                    <!-- charge info -->
                    <!-- <div class="charge_info">
                        <ul>
                            <li>
                                <span class="info_name">담당부서</span>
                                <span>영등포본동</span>
                            </li>
                            <li>
                                <span class="info_name">담당전화번호</span>
                                <span>02-2670-1026</span>
                            </li>
                        </ul>
                    </div> -->
                    <!-- //charge info -->
                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer"></footer>
        <!-- //footer -->
    </div>
</body>
</html>
