<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원 처리 | 관리자 메뉴</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_view.css}">
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header" th:replace="~{/admin/common/admin_header_footer::header}"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu" th:replace="~{/admin/common/admin_sidemenu::side}"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>민원 처리</h2>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div class="contents" id="board">
                        <div class="board clearfix">
                            <div class="bbs_wrap">
                                <div class="bbs_info">
                                    <div class="bbs_count">
                                        <span>
                                            신청일
                                            <strong th:text="${#dates.format(complaint.comDate,'yyyy.MM.dd')}">2025.07.09</strong>

                                        </span>
                                    </div>
                                </div>
                                <table class="p-table">
                                    <colgroup>
                                        <col class="w20p">
                                        <col>
                                    </colgroup>
                                    <tbody class="p-tb">
                                        <tr>
                                            <td colspan="2"><span class="td_title" th:text="${complaint.getComTitle()}">지하철역 미화개선</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="td_text" th:text="${complaint.getComContent()}">
                                                구로디지탈단지역 계단이 미끄럽고 보기에 너무 안 좋습니다...
                                            </td>
                                        </tr>
                                        <th:block th:if="${complaint.getComAnswer != null}">
                                            <tr>
                                                <th scope="row" >처리상황</th>
                                                <td class="com-status" th:text="${complaint.getComStatus()}">완료</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" >종합의견</th>
                                                <td class="com-answer" th:text="${complaint.getComAnswer()}">
                                                    안녕하십니까? 영등포본동 주민센터 민원신청 담당자입니다....
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                                <div class="form_btns_wrap">
                                    <div class="btns">
                                        <button data-oper="update" class="btn btn_bordered update" >답변</button>
                                        <button data-oper="delete" class="btn btn_bordered delete">삭제</button>
                                    </div>
                                    <div class="btns">
                                        <button data-oper="list" class="p-btn">
                                            목록
                                            <span class="p-btn_write"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
<!--                    전송용 폼 추가 -->
                    <form th:action="@{/admin/complaint/update}" method="get" id="operForm">
                        <input type="hidden" name="comId" id="comId"
                               th:value="${complaint.comId}"/>
                        <!-- Criteria 데이터 hidden 전송 -->
                        <input type="hidden" name="pageNum" id="pageNum"
                               th:value="${cri.pageNum }"/>
                        <input type="hidden" name="amount" id="amount"
                               th:value="${cri.amount }"/>
<!--                        검색 데이터-->
                        <input name="searchKeyword"  type="hidden" th:value="${cri.searchKeyword }" >
                        <input name="searchType"  type="hidden" th:value="${cri.searchType }" >
                    </form>
                    <!-- //contents -->

                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer" th:replace="~{/admin/common/admin_header_footer::footer}"></footer>
        <!-- //footer -->
    </div>
<!-- 자바스크립트 추가 -->
    <script type="text/javascript">
        $(document).ready(function() {
            // 폼 할당
            var operForm = $('#operForm');
            // 종합의견 요소
            var comAnswer = $('.com-answer');
            console.log(comAnswer.text());
            //속성 선택자 update 선택
            $("button[data-oper='update']").on('click',function(){
                 operForm.attr("action","/admin/complaint/update").submit()
            })

            //속성 선택자 list 선택
            $("button[data-oper='list'] ").on('click',function(){
                // 목록 페이지는 아무런 데이터도 필요 없음 => comId 값을 삭제
                operForm.find("#comId").remove();
                // action 속성값 목록 요청으로 변경
                operForm.attr("action","/admin/complaint/list");
                operForm.submit();
            });

            //remove -> method post 방식으로 바꿔주고 submit
            $("button[data-oper='delete'] ").on('click',function(){
                if (!confirm("정말 삭제하시겠습니까?")) {
                    return; // 취소 시 종료
                }
                // action 속성값 삭제 요청으로 변경, method 방식 변경
                operForm.attr("action",'/admin/complaint/delete').attr("method","post");
                operForm.submit();
            });
        });
    </script>
</body>
</html>
