<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자치회관 게시판 | 자치회관 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_gallery_list.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
<!--    <script>const menuName = '자치회관 게시판';</script>-->
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>포토갤러리</h2>
                        </div>

                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div id="board" class="clearfix">
                        <div id="contents">
                            <form action="#" class="board_searchform">
                                <fieldset>
                                    <legend>게시물검색</legend>
                                    <div class="p-search clearfix">
                                        <div class="p-form-group">
                                            <label for="search_cnb" class="skip">검색항목선택</label>
                                            <select name="search_cnb" id="search_cnb" title="검색항목선택" class="p-input">
                                                <option value="title" selected="selected">제목</option>
                                                <option value="con">내용</option>
                                                <option value="city">행정동</option>
                                            </select>
                                            
                                            <label for="search_krwd" class="skip"></label>
                                            <input name="searchKrwd" id="search_krwd" class="p-input" type="text" value>
                                            <span class="p-form-group__btn">
                                                <input value="검색" type="submit" class="p-button">
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="page_cou clearfix">
                            <p>
                                총
                                <em class="em_black">2173</em>
                                개 &nbsp;[
                                <em class="em_b_black">1</em>
                                / 182 페이지]
                            </p>
                        </div>
                        
                        
                        <div class="p-gallery">
                            <div class="p-gallery-list">
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>                
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>       
                                <li class="p-gallery-post">
                                    <a th:href="@{/admin/gallery/view}" class="p-gallery-post-link">
                                        <div class="p-gallery-post-image">
                                            <div class="p-gallery-post-image-wrap">
                                                <img th:src="@{/images/sub/gal_post_img1.jpg}" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 의 이미지">
                                            </div>
                                            
                                            <div class="p-gallery-icon">
                                                <span class="p-icon p-gallery-icon-new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="p-gallery-post-content">
                                            <div class="p-gallery-post-content-info"><em class="p-gallery-post-content-info-text">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</em></div>
                                            <div class="p-gallery-post-info">
                                                <time class="p-gallery-post-time p-split" datetime="2026-01-22">2026.01.22</time>                                                
                                                <span class="p-gallery-post-count p-split">
                                                    <em class="skip">조회 :</em> 
                                                    <span class="p-icon">
                                                    
                                                        <img th:src="@{/images/sub/icon_eye.png}"width="20" height="16" alt="eye icon" class="p-icon-eye">
                                                    </span>
                                                    <!-- <svg width="20" height="16" class="p-icon" fill="#959595" focusable="false" y="-2">
                                                        <use href="/images/sub/p-icon-view.svg#eye" xlink:href="/images/sub/p-icon-view.svg#eye"></use>
                                                    </svg> -->
                                                    11
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>          
                            </div>
                        </div>
                        
                        
                        
                        <div class="p_ctrl">
                            <div class="p_control">
                                <span class="p-link_b ">
                                    <a href="#" class="p_link"><<</a>
                                    <a href="#" class="p_link"><</a>
                                </span>
                                <span class="p-link_b">
                                    <strong title="현재 1페이지" class="p_link active">
                                        1
                                    </strong>
                                    <a href="#" class="p_link">2</a>
                                    <a href="#" class="p_link">3</a>
                                    <a href="#" class="p_link">4</a>
                                    <a href="#" class="p_link">5</a>
                                    <a href="#" class="p_link">6</a>
                                    <a href="#" class="p_link">7</a>
                                    <a href="#" class="p_link">8</a>
                                    <a href="#" class="p_link">9</a>
                                    <a href="#" class="p_link">10</a>
                                </span>
                                <span class="p-link_b">
                                    <a href="#" class="p_link">></a>
                                    <a href="#" class="p_link">>></a>
                                </span>
                            </div>
                        </div>
                        <div class="board_btm_btns">
                            <a th:href="@{/admin/gallery/write}" class="btn btn_write">글쓰기</a>
                        </div>
                    </div>
                    <!-- //contents -->
                    
                    <!-- charge info -->
                    <div class="charge_info">
                        <ul>
                            <li>
                                <span class="info_name">담당부서</span>
                                <span>영등포본동</span>
                            </li>
                            <li>
                                <span class="info_name">담당전화번호</span>
                                <span>02-2670-1026</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //charge info -->
                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer"></footer>
        <!-- //footer -->
    </div>
</body>
</html>
