<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원 처리 | 관리자 메뉴</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_list.css}">
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header" th:replace="~{/admin/common/admin_header_footer::header}"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu" th:replace="~{/admin/common/admin_sidemenu::side}"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>민원 처리</h2>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div id="board" class="clearfix">
                        <div id="contents">
                            <form th:action="@{/admin/complaint/list}" class="board_searchform" method="get">
                                <fieldset>
                                    <legend>게시물검색</legend>
                                    <div class="p-search clearfix">
                                        <div class="p-form-group">
                                            <label for="searchType" class="skip">검색항목선택</label>
                                            <select name="searchType" id="searchType" title="검색항목선택" class="p-input">
                                                <option value="T" th:selected="${pageMaker.cri.searchType eq 'T'}">제목</option>
                                                <option value="I" th:selected="${pageMaker.cri.searchType eq 'I'}">글번호</option>
                                                <option value="P" th:selected="${pageMaker.cri.searchType eq 'P'}">공개 여부</option>
                                                <option value="S" th:selected="${pageMaker.cri.searchType eq 'S'}">처리 상황</option>
                                                <option value="D" th:selected="${pageMaker.cri.searchType eq 'D'}">신청일</option>
                                            </select>
                                            
                                            <label for="searchKeyword" class="skip"></label>
                                            <input name="searchKeyword" id="searchKeyword" class="p-input" type="text" >
<!--                                        페이징용 데이터 같이 전송-->
                                            <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }"/>
                                            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }"/>
                                            <span class="p-form-group__btn">
                                                <input value="검색" type="submit" class="p-button">
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="page_cou clearfix">
                            <p>
                                총
                                <em class="em_black">[[${pageMaker.total}]]</em>
                                개 &nbsp;[
                                <em class="em_b_black">[[${pageMaker.cri.pageNum}]]</em>
                                / [[${pageMaker.realEnd}]] 페이지]
                            </p>
                        </div>
                        <table class="p_table">
                            <colgroup>
                                <col style="width: 100px;">
                                <col>
                                <col style="width: 120px;">
                                <col style="width: 120px;">
                                <col style="width: 100px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">신청일</th>
                                    <th scope="col">공개여부</th>
                                    <th scope="col">처리상황</th>
                                </tr>
                            </thead>
                            <tbody class="tb_text" >
<!--                            반복 구간-->
                                <tr th:each="complaint, stat : ${complaintList}"
                                    th:if="${complaintList != null and !#lists.isEmpty(complaintList)}">
                                    <td>
                                        [[${pageMaker.total
                                        - ((pageMaker.cri.pageNum - 1) * pageMaker.cri.amount)
                                        - stat.index}]]
                                    </td>
                                    <td class="p_sub "><a class="move" th:href="${complaint.comId}" >[[${complaint.comTitle}]]</a></td>
                                    <td th:text="${#dates.format(complaint.comDate,'yyyy/MM/dd')}"></td>
                                    <td th:text="${complaint.comPublic} == 1?'Y':'N'">[[${complaint.comPublic}]]</td>
                                    <td>[[${complaint.comStatus}]]</td>
                                </tr>

                                <tr th:if="${complaintList == null or #lists.isEmpty(complaintList)}">

                                    <td colspan="5" class="no_data">
                                        민원 검색 결과가 없습니다
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="p_ctrl">
                            <div class="p_control">
                                <span class="p-link_b" >

                                    <th:block th:if="${pageMaker.realEnd>=10}">
                                        <a th:href="1" class="p_link"><<</a>
                                    </th:block>
                                    <th:block th:if="${pageMaker.realEnd>=10 }">
                                        <a  th:href="${pageMaker.startPage - 1 < 1 ? 1 : pageMaker.startPage - 1}" class="p_link"><</a>
                                    </th:block>
                                    <span th:each="i : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">

                                        <th:block th:if="${pageMaker.cri.pageNum == i}">
                                            <strong title="" class="p_link active">
                                                [[${i}]]
                                            </strong>
                                        </th:block>
                                        <th:block th:if="${pageMaker.cri.pageNum != i}">
                                            <a th:href="${i}" class="p_link">[[${i}]]</a>
                                        </th:block>
                                    </span>
                                    <th:block th:if="${pageMaker.realEnd>=10}">
                                        <a th:href="${pageMaker.endPage +1 }" class="p_link">></a>
                                    </th:block>

                                    <th:block th:if="${pageMaker.realEnd>=10}">
                                        <a th:href="${pageMaker.realEnd }" class="p_link">>></a>
                                    </th:block>
                                </span>
                            </div>
                        </div>
<!--                        <div class="board_btm_btns">-->
<!--                            <a href="admin/complaint/write" class="btn btn_write">글쓰기</a>-->
<!--                        </div>-->
                    </div>
<!--                데이터 전송용 폼-->
                    <form id="actionForm" th:href="@{/admin/complaint/list}" method="get">
                        <!-- hidden pageNum, amount 값 전송-->
                        <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum }"/>
                        <input type="hidden" name="amount" th:value="${pageMaker.cri.amount }"/>

<!--                     검색용 데이터 같이 전송-->
                        <input name="searchKeyword"  type="hidden" th:value="${pageMaker.cri.searchKeyword }" >
                        <input name="searchType"  type="hidden" th:value="${pageMaker.cri.searchType }" >

<!--                        <input type="hidden" name="comId" id="comIdInput">-->
                    </form>
                    <!-- //contents -->
                    

                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer" th:replace="~{/admin/common/admin_header_footer::footer}"></footer>
        <!-- //footer -->
    </div>
    <script>
        $(document).ready(function(){ // 요소 먼저 로드
        // 페이지 번호 클릭 시 이벤트
            var actionForm=	$('#actionForm');
            // 페이징 목록 버튼 클릭 시 이벤트
            $('.p_ctrl .p_control .p-link_b a').on('click',function(e){
                e.preventDefault();// 이벤트 차단
                // alert('aa');
                // action 목록 요청으로 수정
                actionForm.attr("action","/admin/complaint/list");
                /* 폼 input name 속성값 pageNum의 value 값을 .p-link_b a href 값으로 변경  */
                actionForm.find("input[name='pageNum']").val($(this).attr("href"));
                actionForm.submit();
            });

        // 글 제목 클릭 시 이벤트
            $('.p_sub .move').on('click',function(e){
                e.preventDefault();// 이벤트 차단
                // alert('bb');
                var comId = $(this).data("comid");
                //move 클래스에 hidden으로 번호 전송하기 위해 append()사용
                // $("#comIdInput").val($(this).attr("href"));
                // 글번호 input 데이터를 비움 <- 계속 누적
                actionForm.find("input[name='comId']").remove();
                // 글번호를 폼의 input hidden 데이터로 추가
                actionForm.append("<input type='hidden' name='comId' value='"
                    + $(this).attr("href")+ "'>");
                // action 상세보기 요청
                actionForm.attr("action","/admin/complaint/view");
                actionForm.submit();
            });
        });

        // 검색 시 입력 값 변경
        $('.board_searchform').on('submit', function () {
            // 검색 키워드
            let keyword = $('#searchKeyword').val();
            // 검색 종류
            let type = $('#searchType').val();
            // 삼항 조건 연산자 : 공개여부를 DB에 저장된 숫자값으로 변경
            if(type === 'P'){
                keyword = ($('input[name="searchKeyword"]').val()==='Y')?1:0;
            }
            console.log('before submit =', $('input[name="searchKeyword"]').val());
            // 폼 입력 검색 키워드를 내가 가져온 값으로 변경
            $('input[name="searchKeyword"]').val(keyword);
        });

        /* 검색버튼 이벤트 처리 */
        let searchForm=  $('.board_searchform');
        // 검색버튼 submit 클릭 시
        $(".board_searchform input[type='submit']").on('click',function(e){
            // alert("검색버튼 클릭");
            //option의 select값 선택하지 않았을 때
            // 필터 선택자 사용 => 선택된 값이 없으면
            if(!searchForm.find("option:selected").val()){
                alert('검색종류를 입력하세요');
                return false;
            }
            // 키워드값이 없을 때 -> 속성 선택자 사용
            if(!searchForm.find("input[name='searchKeyword']").val()){
                alert('키워드를 입력하세요');
                return false;
            }
            // 검색 후 페이지 번호는 1페이지로 가도록 처리 => 찾아서 pageNum value를 1로 변경
            searchForm.find("input[name='pageNum']").val("1");
            e.preventDefault();
            //폼 전송
            searchForm.submit();
        });
    </script>
</body>
</html>
