<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자치회관 게시판 | 자치회관 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/ydpb.css">
    <link rel="stylesheet" href="../css/ydpb_gallery_view.css">
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/prefixfree.min.js"></script>
    <script>const menuName = '자치회관 게시판';</script>
    <script src="../js/ydpb.js"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>포토갤러리 게시판</h2>
                        </div>
                        <div class="location_path">
                            <span class="loc_home"><a href="../index.html">  </a></span>
                            <span class="loc_arrow">></span>
                            <span class="loc_text"><a href="../index.html">동주민센터</a></span>
                            <span class="loc_arrow">></span>
                            <span class="loc_text"><a href="../index.html">영등포본동</a></span>
                            <span class="loc_arrow">></span>
                            <span class="loc_text"><a href="#">우리동소식</a></span>
                            <span class="loc_arrow">></span>
                            <span class="loc_text"><strong>포토갤러리</strong></span>
                        </div>
                        <div class="location_icon">
                            <ul class="loc_fixed_icon">
                                <li><button type="button" class="loc_print">프린트</button></li>
                                <li class="icon_sns">
                                    <button type="button" class="loc_sns">SNS</button>
                                    <div class="sns_list">
                                        <a href="#" class="loc_sns_icon1"> </a>
                                        <a href="#" class="loc_sns_icon2"> </a>
                                        <a href="#" class="loc_sns_icon3"> </a>
                                        <a href="#" class="loc_sns_icon4"> </a>
                                        <a href="#" class="loc_sns_icon5"> </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div class="contents" id="board">
                        <div class="board clearfix">
                            <div class="bbs_wrap">
                                <div class="bbs_info">
                                    <div class="bbs_count">
                                        <span class="line">
                                            조회수
                                            <strong>10</strong>
                                        </span>
                                        <span>
                                            작성일
                                            <strong>2026.01.22</strong>
                                        </span>
                                    </div>
                                </div>
                                <table class="p-table">
                                    <colgroup>
                                        <col class="w20p">
                                        <col>
                                    </colgroup>
                                    <tbody class="p-tb">
                                        <tr>
                                            <td colspan="2"><span class="td_title">1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" >부서</th>
                                            <td>영등포본동</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">연락처</th>
                                            <td>02-2670-1026</td>
                                        </tr>
                                        <!-- 이미지 -->
                                        
                                        <td title="내용" class="p-table_content" colspan="2">

                                            <div class="p-photo">
                                                <div class="p-photo_wrap">
                                                    <img src="../images/sub/gal_pic1.jpg" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 1번째 파일">
                                                    <span class="p-photo_zoom">
                                                        <a href="../images/sub/gal_pic1.jpg" class="p-photo_link" target="_blank" title="새창">                                                            
                                                            <span class="p-extend"></span>
                                                            이미지 확대보기
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                                    
                                            <div class="p-photo">
                                                <div class="p-photo_wrap">
                                                    <img src="../images/sub/gal_pic2.jpg" alt="1.21.(수) 영등포본동 새마을지도자협의회 1월 월례회의 2번째 파일">
                                                    <span class="p-photo_zoom">
                                                        <a href="../images/sub/gal_pic2.jpg" class="p-photo_link" target="_blank" title="새창">
                                                            <span class="p-extend"></span>
                                                            이미지 확대보기
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            영등포본동 새마을지도자협의회 1월 월례회의 개최    
                                        </td>                                
                                        
                                        
                                        <!-- <tr>
                                            <td colspan="2" class="td_text">영등포본동 새마을지도자협의회 1월 월례회의 개최</td>
                                        </tr> -->
                                        <tr>
                                            <th scope="row" >파일</th>
                                            <td>
                                                <ul class="p-attach">
                                                    <li class="p-attach_item">
                                                        <a class="p-attach_link" href="#" alt="첨부파일 다운로드">
                                                            <span class="p-icon p-icon_jpg"></span>
                                                            <span>1769039728788.jpg</span>
                                                            <span class="p-down_icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" target="_blank" title="새창" class="p-attach_prv gal_down">
                                                            <span class="p-prv"></span>
                                                            다운로드
                                                        </a>
                                                    </li>
                                                    
                                                    <li class="p-attach_item">
                                                        <a class="p-attach_link" href="#" alt="첨부파일 다운로드">
                                                            <span class="p-icon p-icon_jpg"></span>
                                                            <span>1769039728652.jpg</span>
                                                            <span class="p-down_icon" aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" target="_blank" title="새창" class="p-attach_prv gal_down">
                                                            <span class="p-prv"></span>
                                                            다운로드
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row margin_t_30">
                                    <div class="col-12 col-sm-24"></div>
                                    <div class="col-12 col-sm-24 right">
                                        <a href="community_center_list.html" class="p-btn">
                                            목록
                                            <span class="p-btn_write"></span>
                                        </a>
                                    </div>
                                </div>
                                <ul class="p-post">
                                    <li class="p-post-move prev">
                                        <strong class="p-post-move_title">이전글</strong>
                                        <a href="#" class="p-post-move_link">1.22(목) 영등포본동 주민자치위원회 정기회의</a>
                                    </li>
                                    <li class="p-post-move next">
                                        <strong class="p-post-move_title">다음글</strong>
                                        <a href="#" class="p-post-move_link">1.13(화) 영등포본동 주민자치위원회 정기회의</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <!-- //contents -->
                    
                    <!-- charge info -->
                    <div class="charge_info">
                        <ul>
                            <li>
                                <span class="info_name">담당부서</span>
                                <span>영등포본동</span>
                            </li>
                            <li>
                                <span class="info_name">담당전화번호</span>
                                <span>02-2670-1026</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //charge info -->
                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer"></footer>
        <!-- //footer -->
    </div>
</body>
</html>
