<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 확인 | 마이페이지 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_member.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script>const menuName = '비밀번호확인';</script>
    <script th:src="@{/js/ydpb.js}"></script>
    <script th:src="@{/js/ydpb_member.js}"></script>
</head>
<body>
<div id="wrap" class="member_wrap">
    <header class="header" th:replace="~{/common/header_footer_layout :: header}"></header>

    <div class="search" th:replace="~{/common/header_footer_layout :: search}"></div>

    <div class="container">
        <div class="contents_wrap safe_area">
            <aside class="side_menu" th:replace="~{/common/sidemenu_layout :: sidemenu}"></aside>

            <main>
                <div class="location">
                    <div class="location_title">
                        <h2>비밀번호 확인</h2>
                    </div>
                    <div class="location_path">
                        <span class="loc_home"><a th:href="@{/}">홈</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/mypage}">마이페이지</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">비밀번호 확인</span>
                    </div>
                    <div class="location_icon">
                        <ul class="loc_fixed_icon">
                            <li><button type="button" class="loc_print">프린트</button></li>
                            <li class="icon_sns">
                                <button type="button" class="loc_sns">SNS</button>
                                <div class="sns_list">
                                    <a th:href="@{/}" class="loc_sns_icon1">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon2">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon3">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon4">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon5">a</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="member_contents join_contents">
                    <div class="location_title">
                        <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">비밀번호 확인</h2>
                    </div>
                    <form th:action="@{/mypage/verifypassword}" method="post" style="max-width: 500px; margin: 0 auto;">
                        <table class="table_form">
                            <tbody>
                            <tr>
                                <th scope="row">현재 비밀번호</th>
                                <td>
                                    <input type="password" name="currentPassword" id="currentPassword" class="input" required>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="btns" style="margin-top:40px; text-align:center;">
                            <button type="submit" class="btn btn_write">확인</button>
                            <a th:href="@{/mypage}" class="btn btn_cancel">취소</a>
                        </div>
                    </form>
                </div>


            </main>
        </div>
    </div>

    <footer class="footer" th:replace="~{/common/header_footer_layout :: footer}"></footer>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const msg = [[${msg}]];
    if(msg) { alert(msg); }
    /*]]>*/
</script>
</body>
</html>