<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>통합 로그인 - 회원가입3단계 회원정보입력</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_member.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
    <script th:src="@{/js/ydpb_member.js}"></script>
</head>
<th:block th:if="${msg !=null}" >
    <script th:inline="javascript">
        alert([[${msg}]]);
    </script>
</th:block>
<body>
    <div id="wrap" class="member_wrap">
        <!-- member header -->
        <header class="member_header">
            <div class="header_inner">
                <h1>
                    <a th:href="@{/}"><span class="blind">영등포구</span></a><b>통합로그인</b>
                </h1>
                <p>영등포구청 홈페이지를 방문해주신 여러분 환영합니다</p>
            </div>
        </header>
        <!-- //member header -->

        <!-- member container -->
        <div class="member_container">
            <div class="membership">
                <div class="member_inner">
                    <!-- member menu -->
                    <ul class="member_menu">
                        <li>
                            <a th:href="@{/login}">통합로그인</a>

                        </li>
                        <li class="active">
                            <span>회원가입</span>
                        </li>
                        <li>
                            <a href="#">약관재동의</a>
                        </li>
                    </ul>
                    <!-- //member menu -->

                    <!-- member contents -->
                    <div class="member_contents join_contents">
                        <ol class="join_flow">
                            <li>
                                <b>STEP01</b>
                                <span>회원구분</span>
                            </li>
                            <li>
                                <b>STEP02</b>
                                <span>약관동의 및 본인인증</span>
                            </li>
                            <li class="active">
                                <b>STEP03</b>
                                <span>회원정보입력</span>
                            </li>
                            <li>
                                <b>STEP04</b>
                                <span>가입완료</span>
                            </li>
                        </ol>
                        <form th:action="@{/member/join}" method="post" class="join_form" th:object="${member}" id="join_form">
                            <table class="table_form">
                                <colgroup>
                                    <col class="col1">
                                    <col class="col2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label for="memId">사용자 ID</label>
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <input type="text" th:field="*{memId}" id="memId" class="input input_auto" maxlength="15" minlength="6" size="40" required>
                                            <button type="button" class="btn btn_write btn_sm"  id="id_check_btn" >중복확인</button>
                                            <span id="id_result"></span>
                                            <p class="failure_message">※ 아이디는 6자 이상 15자 이하여야 합니다.</p>
                                            <p class="failure_message2">※ 영어 소문자 또는 숫자만 가능합니다.</p>
<!--                                            <p>※ ID는 20자리 이하로 입력하셔야 합니다.</p>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="memName">사용자 이름</label>
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <input type="text" th:field="*{memName}" id="memName" class="input input_auto" maxlength="20" size="40" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">사용자 생년월일</th>
                                        <td>
                                            <input type="date" th:field="*{memBirth}" id="memBirth" class="input input_auto">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">사용자 성별</th>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" th:field="*{memGender}" id="memGenderM" value="남" th:checked>
                                                <label for="memGenderM">남</label>
                                            </div>
                                            <div class="radio">
                                                <input type="radio" th:field="*{memGender}" id="memGenderF" value="여">
                                                <label for="memGenderF">여</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="memPassword">비밀번호</label>
                                            <span class="required_mark">필수</span>

                                        </th>
                                        <td>
                                            <input type="password" th:field="*{memPassword}" id="memPassword" class="input input_auto" maxlength="15" minlength="6"  size="40" required>
                                            <p class="strongPassword_message1">※ 비밀번호는 8자리 이상 15자리 이하 영어,특수문자,숫자를 포함해야 합니다.</p>
<!--                                            <p>※ 비밀번호는 20자리 이하로 입력하셔야 합니다.</p>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="memPasswordRe">비밀번호확인</label>
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <input type="password" name="memPasswordRe" id="memPasswordRe" class="input input_auto" maxlength="15" minlength="6" size="40" required>
                                            <span id="error_msg"></span>
                                            <p class="strongPassword_message2">※ 비밀번호는 8자리 이상 15자리 이하 영어,특수문자,숫자를 포함해야 합니다.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            주소
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                            <button type="button" class="btn btn_cancel btn_sm" onclick="execDaumPostcode()">주소찾기</button>
                                            <span class="text_alert">우편번호 검색창이 새창으로 열립니다.</span>
                                            <input type="text" th:field="*{memAddress}" id="memAddress" class="input" maxlength="200" placeholder="주소" readonly required>
                                            <input type="text" th:field="*{memAddressDetail}" id="memAddressDetail" class="input" maxlength="300" placeholder="상세주소">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">일반전화</th>
                                        <td>
<!--                                            <input type="text" name="memTel1" id="memTel1" class="input input_auto" maxlength="3" size="3">- -->
                                            <select name="memTel1" id="memTel1" class="input input_auto">
                                                <option value="02" selected>02</option>
                                                <option value="031">031</option>
                                                <option value="033">033</option>
                                                <option value="017">041</option>
                                                <option value="018">042</option>
                                                <option value="019">043</option>
                                                <option value="031">031</option>
                                                <option value="033">033</option>
                                                <option value="041">041</option>
                                                <option value="042">042</option>
                                                <option value="043">043</option>
                                                <option value="044">044</option>
                                                <option value="051">051</option>
                                                <option value="052">052</option>
                                                <option value="053">053</option>
                                                <option value="054">054</option>
                                                <option value="055">055</option>
                                                <option value="061">061</option>
                                                <option value="062">062</option>
                                                <option value="063">063</option>
                                                <option value="064">064</option>
                                            </select>-
                                            <input type="text" name="memTel2" id="memTel2" class="input input_auto common_num" maxlength="4" size="4"
                                                   minlength="4" inputmode="numeric"  pattern="[0-9]{3,4}">-
                                            <input type="text" name="memTel3" id="memTel3" class="input input_auto common_num" maxlength="4" size="4"
                                                   minlength="4" inputmode="numeric"  pattern="[0-9]{3,4}">
                                            <p class="num_err_msg">※ 각 입력칸은 4자리 숫자만 입력 가능합니다.</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            휴대폰
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <input type="text" name="memPhone1" id="memPhone1" class="input input_auto" maxlength="3" size="3" value="010" required readonly>-
                                            <input type="text" name="memPhone2" id="memPhone2" class="input input_auto common_num" maxlength="4" size="4" required
                                                   minlength="4" inputmode="numeric"  pattern="[0-9]{3,4}">-
                                            <input type="text" name="memPhone3" id="memPhone3" class="input input_auto common_num" maxlength="4" size="4" required
                                                   minlength="4" inputmode="numeric"  pattern="[0-9]{3,4}">
                                            <p class="num_err_msg">※ 각 입력칸은 4자리 숫자만 입력 가능합니다.</p>
                                        </td>

                                        <input type="hidden" th:field="*{memTel}" id="memTel">
                                        <input type="hidden" th:field="*{memPhone}" id="memPhone">
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            이메일
                                            <span class="required_mark">필수</span>
                                        </th>
                                        <td>
                                            <input type="text" name="memEmail1" id="memEmail1" class="input input_auto" required>
                                            @
                                            <input type="text" name="memEmail2" id="memEmail2" class="input input_auto" required>
                                        </td>
                                    </tr>

                                    <input type="hidden" th:field="*{memEmail}" id="memEmail">
                                    <tr>
                                        <th scope="row">영등포구소식</th>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" th:field="*{memNews}" id="memNewsY" value="Y" th:checked>
                                                <label for="memNewsY">받음</label>
                                            </div>
                                            <div class="radio">
                                                <input type="radio" th:field="*{memNews}" id="memNewsN" value="N">
                                                <label for="memNewsN">받지않음</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btns">
                                <input type="submit" onclick="setNum()" class="btn btn_write" value="회원가입">
                            </div>
                        </form>
                    </div>
                    <!-- //member contents -->
                </div>
            </div>
        </div>
        <!-- //member container -->
    </div>
<!--    전화번호, 이메일 하나의 데이터로 합치는 스크립트-->
    <script >
        function setNum() {
            document.getElementById("memTel").value =
                document.getElementById("memTel1").value +
                document.getElementById("memTel2").value +
                document.getElementById("memTel3").value;

            document.getElementById("memPhone").value =
                document.getElementById("memPhone1").value +
                document.getElementById("memPhone2").value +
                document.getElementById("memPhone3").value;

            document.getElementById("memEmail").value =
                document.getElementById("memEmail1").value + "@" +
                document.getElementById("memEmail2").value ;
        }

        // 비밀번호 일치 확인
        document.getElementById('join_form').addEventListener('submit', function(e){
            const pw = document.getElementById('memPassword').value;
            const pwConfirm = document.getElementById('memPasswordRe').value;
            if(pw !== pwConfirm){
                e.preventDefault();
                document.getElementById('error_msg').textContent = "비밀번호가 일치하지 않습니다";
                alert("비밀번호가 일치하지 않습니다");
            }
        });

        //아이디 중복 확인
        $('#id_check_btn').click(function() {
            let memId = $('#memId').val();
            if(!memId){
                alert("아이디를 입력해주세요");
                return;
            }

            $.ajax({
                url: '/member/checkId',
                type: 'get',
                data: { memId: memId },
                success: function(res) {
                    if(res.available){
                        $('#id_result').text("사용 가능한 아이디").css('color','green');
                        alert("사용 가능한 아이디입니다");
                    } else {
                        $('#id_result').text("이미 사용 중인 아이디").css('color','red');
                        alert("이미 사용 중인 아이디입니다");
                    }
                },
                error: function() {
                    $('#id_result').text("서버 오류").css('color','orange');
                    alert("서버 오류 발생");
                }
            });
        });

        //유효성 검사
        // 요소 가져오기
        let inputMemId = document.querySelector('#memId');
        let inputMemPassword = document.querySelector('#memPassword');
        let inputMemPasswordRe = document.querySelector('#memPasswordRe');
        // 메시지용 요소
        let failureMessage1 = document.querySelector('.failure_message'); //id 글자수 제한
        let failureMessage2 = document.querySelector('.failure_message2'); //id 언어 제한
        let strongPasswordMessage = document.querySelector('.strongPassword_message1'); // 비밀번호 제한
        let strongPasswordMessage2 = document.querySelector('.strongPassword_message2'); // 비밀번호 제한
        // 유효성 검사 함수
        //아이디 글자 수 제한 (6글자 이상, 15글자 이하)
        function idLength(value) {
            return value.length >= 6 && value.length <= 15
        }
        // 아이디 영어 또는 숫자만 가능
        function onlyNumberAndEnglish(str) {
            //return /^[A-Za-z0-9][A-Za-z0-9]*$/.test(str);
            return /^[a-z0-9]+$/.test(str);
        }

        //비밀번호 8글자 이상, 영문, 숫자, 특수문자 사용
        function strongPassword (str) {
            return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,15}$/.test(str);
        }

        // 유효성 검사 이벤트
        inputMemId.addEventListener("keyup", function () {
            console.log("ID 입력 이벤트 실행");

            if (inputMemId.value.length !== 0) {

                if (!onlyNumberAndEnglish(inputMemId.value)) {
                    failureMessage1.classList.add('hide');
                    failureMessage2.classList.remove('hide');

                }
                if (!idLength(inputMemId.value)) {
                    failureMessage1.classList.remove('hide');
                    failureMessage2.classList.add('hide');

                }
                if(idLength(inputMemId.value) && onlyNumberAndEnglish(inputMemId.value)){
                    failureMessage1.classList.add('hide');
                    failureMessage2.classList.add('hide');
                }

            } else {
                failureMessage1.classList.remove('hide');
                failureMessage2.classList.remove('hide');
            }
        });

        inputMemPassword.addEventListener("keyup", function () {
            console.log("ID 입력 이벤트 실행");

            if (inputMemPassword.value.length !== 0) {

                if (!strongPassword(inputMemPassword.value)) {
                    strongPasswordMessage.classList.remove('hide');

                }
                else{
                    strongPasswordMessage.classList.add('hide');
                }
            } else {
                strongPasswordMessage.classList.remove('hide');
            }
        });

        inputMemPasswordRe.addEventListener("keyup", function () {
            console.log("ID 입력 이벤트 실행");

            if (inputMemPasswordRe.value.length !== 0) {

                if (!strongPassword(inputMemPasswordRe.value)) {
                    strongPasswordMessage2.classList.remove('hide');

                }
                else{
                    strongPasswordMessage2.classList.add('hide');
                }
            } else {
                strongPasswordMessage2.classList.remove('hide');
            }
        });

        //생년월일 유효성
        const birthInput = document.getElementById("memBirth");

        const today = new Date();
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const dd = String(today.getDate()).padStart(2, '0');

        const todayStr = `${yyyy}-${mm}-${dd}`;

        // 오늘 이후 날짜 선택 불가
        birthInput.setAttribute("max", todayStr)

        // 전화번호 유효성 검사
        function isValidNum(value) {
            return /^[0-9]{3,4}$/.test(value);
        }

        document.addEventListener("DOMContentLoaded", function () {
            const inputs = document.querySelectorAll(".common_num");
            // const errorMsg = document.getElementsByClassName("num_err_msg");
            inputs.forEach(input => {
                // 숫자만 입력
                input.addEventListener("input", function () {
                    this.value = this.value.replace(/[^0-9]/g, "");
                });

                // 길이 검사 (blur 시점)
                input.addEventListener("blur", function () {
                    if (this.value === "") return;
                    if (!/^\d{4}$/.test(this.value)) {
                        alert("전화번호는 4자리 숫자만 입력하세요.");
                        // this.focus();

                    }
                });
            });
        });


        //이메일 유효성 검사
        function isValidEmail(value) {
            return /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i.test(value);
        }

    </script>
</body>
</html>