<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_member.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap" class="member_wrap">
        <!-- member header -->
        <header class="member_header">
            <div class="header_inner">
                <h1>
                    <a href="../"><span class="blind">영등포구</span></a><b>통합로그인</b>
                </h1>
                <p>영등포구청 홈페이지를 방문해주신 여러분 환영합니다</p>
            </div>
        </header>
        <!-- //member header -->

        <!-- member container -->
        <div class="member_container">
            <div class="membership">
                <div class="member_inner">
                    <!-- member menu -->
                    <ul class="member_menu">
                        <li class="active">
                            <span>통합로그인</span>
                        </li>
                        <li>
                            <a href="join.html">회원가입</a>
                        </li>
                        <li>
                            <a href="#">약관재동의</a>
                        </li>
                    </ul>
                    <!-- //member menu -->

                    <!-- member contents -->
                    <div class="member_contents login_contents">
                        <!-- 회원로그인 -->
                        <section class="login_member">
                            <div class="member">
                                <h2 class="member_title">회원로그인</h2>
                                <p class="explain">영등포구청 회원이 되시면 <strong>행사참여, 민원 등<br> 다양한 서비스를 이용</strong>하실 수 있습니다.</p>
                                <form th:action="@{/login/process}" class="login_form" method="post">
                                    <fieldset>
                                        <legend class="blind">회원로그인 입력창</legend>
                                        <ul>
                                            <li>
                                                <label for="memId">아이디</label>
                                                <input type="text" name="memId" id="memId" placeholder="아이디">
                                            </li>
                                            <li>
                                                <label for="memPassword">비밀번호</label>
                                                <input type="password" name="memPassword" id="memPassword" placeholder="비밀번호">
                                            </li>
                                        </ul>
                                        <input type="submit" class="btn_login" value="로그인">
                                    </fieldset>
                                </form>
                                <ul class="member_service">
                                    <li>
                                        <a th:href="@{/member/join}">회원가입</a>
                                    </li>
                                    <li>
                                        <a href="#">아이디찾기</a>
                                    </li>
                                    <li>
                                        <a href="#">비밀번호찾기</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="login_sns">
                                <h2 class="member_title">소셜로그인</h2>
                                <p class="explain"><strong>영등포구청 회원일 경우</strong> SNS 아이디 연동 이후<br> 간편하게 서비스를 이용하실 수 있습니다.</p>
                                <ul>
                                    <li>
                                        <a href="/oauth2/authorization/naver" class="btn_naver">네이버 아이디로 로그인</a>
                                    </li>
                                    <li>
<!--                                        API키를 여기 직접 사용하면 안됨-->
                                        <a href="/oauth2/authorization/kakao" class="btn_kakao">카카오 아이디로 로그인</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- //회원로그인 -->
                        <!-- 비회원로그인 -->
                        <section class="login_non_member">
                            <h2 class="member_title">비회원로그인</h2>
                            <p class="explain">비회원은 휴대폰 인증 또는 아이핀 인증을 통한 본인 확인 후<br> <strong>회원과 동일한 서비스를 이용</strong>하실 수 있습니다.</p>
                            <ul class="certified">
                                <li class="phone">
                                    <a href="#" class="btn_certified">휴대폰 인증</a>
                                </li>
                                <li class="ipin">
                                    <a href="#" class="btn_certified">아이핀 인증</a>
                                </li>
                            </ul>
                            <ul class="list_explain">
                                <li>14세 미만은 보호자의 동의절차가 필요합니다.</li>
                                <li>휴대전화 번호와 아이핀 중 하나를 선택하여 가입여부 및 실명확인을 진행하실 수 있습니다.</li>
                                <li>법인폰 사용자는 아이핀 인증만 가능합니다.</li>
                                <li>정보통신망법 제23조 2(주민번호의 사용제한) 규정에 따라 온라인 상 주민번호의 수집/이용을 제한합니다.</li>
                            </ul>
                        </section>
                        <!-- //비회원로그인 -->
                    </div>
                    <!-- //member contents -->
                </div>
            </div>

            <!-- 회원정보 재동의 시행 안내 -->
            <div class="member_re_agree">
                <div>
                    <h2 class="member_title">회원정보 재동의 시행 안내</h2>
                    <ul class="list_explain">
                        <li>영등포구 홈페이지는 안전한 홈페이지 운영 및 구민정보보호를 위하여 2년 주기로 회원정보 재동의를 시행하고 있습니다.</li>
                        <li>재동의 대상자의 경우 회원정보 수집·이용에 대한 재동의를 하지 않는 경우 자동 탈퇴 (탈퇴아이디 재사용 불가)처리 됩니다.</li>
                        <li>재동의 대상자중 탈퇴를 원하지 않으시는 분은 로그인 후 약관 재동의 화면에서 재동의를 클릭하시면 됩니다.</li>
                    </ul>
                </div>
            </div>
            <!-- //회원정보 재동의 시행 안내 -->
        </div>
        <!-- //member container -->

        <!-- member footer -->
        <footer class="member_footer">
            <div class="safe_area">
                <address>
                    <p>[07260] 서울 영등포구 당산로 123(당산동3가)</p>
                    <p>
                        <b>전화</b> <span>02-2670-3000(야간, 공휴일/당직실)</span>
                        <b>팩스</b> <span>02-2670-3002</span>
                    </p>
                </address>
                <p class="copyright">Copyright(C) YEONGDEUNGPO-GU. ALL RIGHTS RESERVED.</p>
            </div>
        </footer>
        <!-- //footer -->
    </div>
</body>
</html>