<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보수정-카카오,네이버</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_member.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script>const menuName = '개인정보수정-카카오,네이버';</script>
    <script th:src="@{/js/ydpb.js}"></script>
    <script th:src="@{/js/ydpb_member.js}"></script>
</head>
<body>
<div id="wrap" class="member_wrap">
    <header class="header" th:replace="~{/common/header_footer_layout :: header}"></header>

    <div class="search" th:replace="~{/common/header_footer_layout :: search}"></div>

    <div class="container">
        <div class="contents_wrap safe_area">
            <aside class="side_menu" th:replace="~{/common/sidemenu_layout :: sidemenu}"></aside>

            <main>
                <div class="location">
                    <div class="location_title">
                        <h2>개인정보수정</h2>
                    </div>
                    <div class="location_path">
                        <span class="loc_home"><a th:href="@{/}">홈</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/}">동주민센터</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/}">영등포본동</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">개인정보 수정</span>
                    </div>
                    <div class="location_icon">
                        <ul class="loc_fixed_icon">
                            <li><button type="button" class="loc_print">프린트</button></li>
                            <li class="icon_sns">
                                <button type="button" class="loc_sns">SNS</button>
                                <div class="sns_list">
                                    <a th:href="@{/}" class="loc_sns_icon1">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon2">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon3">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon4">a</a>
                                    <a th:href="@{/}" class="loc_sns_icon5">a</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="member_contents join_contents">
                    <div class="location_title">
                        <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">개인정보 수정(카카오,네이버 간편가입)</h2>
                    </div>
                    <form th:action="@{/mypage/modify}" method="post" th:object="${member}" id="modify_form">
                        <table class="table_form">
                            <colgroup>
                                <col class="col1"><col class="col2">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">아이디</th>
                                <td><span th:text="*{memId}">아이디</span></td>
                                <input type="hidden" th:field="*{memId}">
<!--                                <input type="hidden" th:field="*{memPassword}">-->
<!--                                <input type="hidden" th:field="*{memName}">-->
<!--                                <input type="hidden" th:field="*{memBirth}">-->
<!--                                <input type="hidden" th:field="*{memGender}">-->
<!--                                <input type="hidden" th:field="*{memPhone}">-->
                            </tr>
                            <tr>
                                <th scope="row">이름</th>
                                <td >[[*{memName}]]</td>
                            </tr>
                            <tr>
                                <th scope="row">생년월일</th>
                                <td >
                                    <th:block th:if="*{memBirth !=null}">
                                        <span th:text="*{memBirth}"></span>
                                    </th:block>

                                    <th:block th:if="*{memBirth ==null}">
                                        <label for="memBirth" class="blind">생년월일</label>
                                        <input type="date" th:field="*{memBirth}" id="memBirth" class="input input_auto" >
                                    </th:block>
                                    <p class="birth_msg">※ 증명서 발급 시 필요</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">성별</th>
                                <td th:if="*{memGender ==null }">
                                    <div class="radio">
                                        <input type="radio" th:field="*{memGender}" id="memGenderM" value="남" >
                                        <label for="memGenderM">남</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" th:field="*{memGender}" id="memGenderF" value="여" >
                                        <label for="memGenderF">여</label>
                                    </div>
                                    <p class="gender_msg">※ 증명서 발급 시 필요</p>
                                </td>
                                <td th:if="*{memGender !=null }">
                                    <span th:text="*{memGender}">성별</span>
                                    <p class="gender_msg">※ 증명서 발급 시 필요</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">주소 <span class="required_mark">필수</span></th>
                                <td>
                                    <button type="button" class="btn btn_cancel btn_sm" onclick="execDaumPostcode()">주소찾기</button>
                                    <input type="text" th:field="*{memAddress}" id="memAddress" class="input" readonly required style="margin-top:5px;">
                                    <input type="text" th:field="*{memAddressDetail}" id="memAddressDetail" class="input" placeholder="상세주소" style="margin-top:5px;" required >
                                    <p class="addr_msg">※ 상세주소를 입력해주세요.</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">일반전화</th>
                                <td>
                                    <input type="text" th:field="*{memTel}" id="memTel" class="input input_auto"
                                           maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                    <p class="tel_msg">※ -없이 숫자만 입력해주세요. (최대 11자)</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰<span class="required_mark">필수</span></th>
                                <td>
                                    <span th:if="*{memPhone != null and memPhone.length() == 11}" th:text="|${#strings.substring(member.memPhone,0,3)}-${#strings.substring(member.memPhone,3,7)}-${#strings.substring(member.memPhone,7,11)}|"></span>
                                    <span th:if="*{memPhone != null and memPhone.length() == 10}" th:text="|${#strings.substring(member.memPhone,0,3)}-${#strings.substring(member.memPhone,3,6)}-${#strings.substring(member.memPhone,6,10)}|"></span>
                                    <th:block th:if="*{memPhone == null}">
                                        <input type="text" th:field="*{memPhone}" id="memPhone" class="input input_auto"
                                               maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                                        <p class="phone_msg">※ -없이 숫자만 입력해주세요. (최대 11자)</p>
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">이메일 <span class="required_mark">필수</span></th>
                                <td th:if="*{memEmail !=null}">
                                    <span th:text="*{memEmail}">이메일</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">영등포구소식</th>
                                <td>
                                    <div class="radio">
                                        <input type="radio" th:field="*{memNews}" id="memNewsY" value="Y" th:checked="*{memNews == null}">
                                        <label for="memNewsY">받음</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" th:field="*{memNews}" id="memNewsN" value="N"><label for="memNewsN">받지않음</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="btns" style="margin-top:40px; text-align:center;">
                            <input type="submit" class="btn btn_write" value="정보 수정 완료">
                            <th:block th:if="*{loginType == null}">
                                <a th:href="@{/mypage/changepassword}" class="btn btn_write" style="background-color: #666;">비밀번호 변경</a>
                            </th:block>

                            <a th:href="@{/}" class="btn btn_cancel">홈으로</a>
                        </div>
                    </form>
                </div>

                <div class="charge_info">
                    <ul>
                        <li><span class="info_name">담당부서</span><span>영등포본동</span></li>
                        <li><span class="info_name">담당전화번호</span><span>02-2670-1026</span></li>
                    </ul>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer" th:replace="~{/common/header_footer_layout :: footer}"></footer>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // 1. 서버 알림
    const msg = [[${msg}]];
    if(msg) { alert(msg); }

    // 2. 유효성 검사 및 전송 차단 로직
    document.addEventListener("DOMContentLoaded", function() {
        const modifyForm = document.getElementById("modify_form");
        const memTel = document.getElementById("memTel");
        const telMsg = document.querySelector(".tel_msg");
        const memEmail = document.getElementById("memEmail");
        const emailMsg = document.querySelector(".email_msg");

        const birthInput = document.getElementById("memBirth");

        const memPhone = document.querySelector("#memPhone");
        const phone_msg = document.querySelector(".phone_msg");

        const memAddress = document.getElementById("memAddress");
        const memAddressDetail = document.getElementById("memAddressDetail");
        const addr_msg = document.querySelector(".addr_msg");

        // 유효성 상태 저장 변수 (초기값은 기존 데이터가 있으므로 true)
        let isTelValid = true;
        let isEmailValid = true;
        let isPhoneValid = true;
        let isAddressValid = true;
        let isAddressDetailValid = true;
        let isBirthValid = true;

        // if(memEmail.value == null || memEmail.value == ""){
        //     isEmailValid = false;
        // }
        // if(memPhone.value == null || memPhone.value == "" ){
        //     isPhoneValid = false;
        // }
        // if(memAddress.value == null || memAddress.value == "" || memAddressDetail ==null || memAddressDetail == ""){
        //     isAddressValid = false;
        // }
        // if(birthInput.value == null || birthInput.value == ""){
        //     isBirthValid = false;
        // }

        // 일반전화 검사
        if(memTel) {
            memTel.addEventListener("keyup", function() {
                const val = this.value;
                if(val === "") {
                    telMsg.textContent = "※ -없이 숫자만 입력해주세요. (최대 11자)";
                    telMsg.classList.remove("cautionText");
                    memTel.classList.remove("cautionBorder");
                    isTelValid = true; // 빈 값은 허용
                } else if(/^(02|031|032|033|041|042|043|044|051|052|053|054|055|061|062|063|064)\d{7,8}$/.test(val)) {
                    telMsg.textContent = "※ 올바른 형식입니다.";
                    telMsg.classList.remove("cautionText");
                    memTel.classList.remove("cautionBorder");
                    isTelValid = true;
                } else {
                    telMsg.textContent = "※ 올바른 지역번호를 포함한 번호를 입력해주세요.";
                    telMsg.classList.add("cautionText");
                    memTel.classList.add("cautionBorder");
                    isTelValid = false;
                }
            });
        }

        // 이메일 검사
        if(memEmail) {
            memEmail.addEventListener("keyup", function() {

                // 추가
                if(memEmail.value == null || memEmail.value == ""){
                    isEmailValid = false;
                }

                const emailRegex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
                if(emailRegex.test(this.value)) {
                    emailMsg.textContent = "※ 이메일 입력 완료";
                    emailMsg.classList.remove("cautionText");
                    memEmail.classList.remove("cautionBorder");
                    isEmailValid = true;
                } else {
                    emailMsg.textContent = "※ 이메일 형식이 올바르지 않습니다.";
                    emailMsg.classList.add("cautionText");
                    memEmail.classList.add("cautionBorder");
                    isEmailValid = false;
                }
            });
        }

        // 생년월일 유효성 검사
        if(birthInput){
            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0');
            const dd = String(today.getDate()).padStart(2, '0');

            const todayStr = `${yyyy}-${mm}-${dd}`;

            // 오늘 이후 날짜 선택 불가
            birthInput.setAttribute("max", todayStr);

            birthInput.addEventListener('input',function () {
                if(birthInput.value == null || birthInput.value == ""){
                    isBirthValid = false;
                }
                else{
                    isBirthValid = true;
                }
            })


        }


        // 핸드폰 번호 유효성검사
        function isValidPhone(value) {
            return /^(010)\d{8}$/.test(value);
        }
        if(memPhone){

            memPhone.addEventListener("keyup", function(){

                if(memPhone.value == null || memPhone.value == "" ){
                    isPhoneValid = false;
                }
                const phone = memPhone.value;
                if(isValidPhone(phone)){
                    phone_msg.textContent ="※ 휴대폰 번호 입력 완료";

                    phone_msg.classList.remove("cautionText");
                    memPhone.classList.remove("cautionBorder");

                    isPhoneValid = true;
                }
                else{
                    if(phone === ""){
                        phone_msg.textContent ="※ 휴대폰 번호를 반드시 입력해주세요";
                        phone_msg.classList.add("cautionText");
                        memPhone.classList.add("cautionBorder");
                    }
                    else{
                        phone_msg.textContent ="※ 올바른 번호를 입력해주세요.";
                        phone_msg.classList.add("cautionText");
                        memPhone.classList.add("cautionBorder");
                    }
                    isPhoneValid = false;
                }

            });
        }




        // 주소 유효성 검사
        if(memAddress && memAddressDetail){
            // if(memAddress.value == null || memAddress.value == "" || memAddressDetail.value ==null || memAddressDetail.value == ""){
            //     isAddressValid = false;
            // }

            memAddress.addEventListener("input", function () {
                console.log("주소 입력 리스너 ");
                console.log(memAddress.value);
                if (memAddress.value.trim() !== "" && memAddress.value.trim()==null) {
                    console.log("주소값 입력됨");
                    isAddressValid = true;
                    addr_msg.textContent = "※ 기본주소 입력 완료, 상세 주소를 입력해주세요";
                    memAddressDetail.focus();
                } else {
                    console.log("주소값 입력 안됨");
                    memAddressDetail.value = "";
                    addr_msg.textContent = "※ 주소찾기 버튼을 눌러 기본 주소를 먼저 선택해주세요.";
                    isAddressValid = false;
                }
            });

            memAddressDetail.addEventListener("keyup", function () {
                let addrDetail = memAddressDetail.value;
                if (addrDetail === "" || addrDetail === null) {
                    addr_msg.textContent = "※ 상세주소를 반드시 입력해주세요";
                    addr_msg.classList.add("cautionText");
                    memAddressDetail.classList.add("cautionBorder");
                    isAddressDetailValid = false;
                } else {
                    addr_msg.textContent = "※ 상세주소 입력 완료";
                    addr_msg.classList.remove("cautionText");
                    memAddressDetail.classList.remove("cautionBorder");
                    isAddressDetailValid = true;
                }
            });
        }


        // memAddressDetail.readOnly = true;

        //
        memAddressDetail.addEventListener("blur", function () {
            let addrDetail = memAddressDetail.value;
            if (addrDetail === "") {
                addr_msg.textContent = "※ 상세주소를 반드시 입력해주세요";
                addr_msg.classList.add("cautionText");
                memAddressDetail.classList.add("cautionBorder");
            } else {
                addr_msg.textContent = "※ 상세주소 입력 완료";
                addr_msg.classList.remove("cautionText");
                memAddressDetail.classList.remove("cautionBorder");

                isAddressValid = true;
            }
        });


        // 최종 전송 차단 로직
        modifyForm.addEventListener("submit", function(event) {
            console.log("isTelValid -> "+isTelValid);
            console.log("isEmailValid -> "+isEmailValid);
            console.log("isPhoneValid -> "+isPhoneValid);
            console.log("isAddressValid -> "+isAddressValid);
            console.log("isAddressDetailValid -> "+isAddressDetailValid);
            console.log("isBirthValid -> "+isBirthValid);

            if (!isTelValid) {
                alert("전화번호 형식을 확인해주세요.");
                memTel.focus();
                event.preventDefault();
                return false;
            }
            if (!isEmailValid) {
                alert("이메일 형식을 확인해주세요.");
                memEmail.focus();
                event.preventDefault();
                return false;
            }

            if (!isPhoneValid) {
                alert("휴대폰 번호 형식을 확인해주세요.");
                memPhone.focus();
                event.preventDefault();
                return false;
            }

            if (!isAddressValid) {
                alert("주소 입력을 확인해주세요.");
                memAddress.focus();
                event.preventDefault();
                return false;
            }


            if (!isAddressDetailValid) {
                alert("상세주소 입력을 확인해주세요.");
                memAddressDetail.focus();
                event.preventDefault();
                return false;
            }
            if (!isBirthValid) {
                alert("생년월일을 확인해주세요.");
                birthInput.focus();
                event.preventDefault();
                return false;
            }

        });
    });
    /*]]>*/
</script>
</body>
</html>