<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>민원신청 | 우리동이야기 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_write.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script>const menuName = '민원신청';</script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header class="header" th:replace="~{/common/header_footer_layout :: header}"></header>
        <!-- //header -->

        <!-- search -->
        <div class="search" th:replace="~{/common/header_footer_layout :: search}"></div>
        <!-- //search -->

        <!-- container -->
        <div class="container">
            <div class="contents_wrap safe_area">
                <!-- side menu -->
                <aside class="side_menu" th:replace="~{/common/sidemenu_layout :: sidemenu}"></aside>
                <!-- //side menu -->

                <!-- main -->
                <main>
                    <!-- location -->
                    <div class="location">
                        <div class="location_title">
                            <h2>영등포본동 주민센터</h2>
                        </div>
                        <div class="location_path">
                            <span class="loc_home">홈</span>
                            <span class="loc_arrow">&gt;</span>
                            <span class="loc_text"><a th:href="@{/}">동주민센터</a></span>
                            <span class="loc_arrow">&gt;</span>
                            <span class="loc_text"><a th:href="@{/}">영등포본동</a></span>
                            <span class="loc_arrow">&gt;</span>
                            <span class="loc_text"><a th:href="@{/}">우리동 이야기</a></span>
                            <span class="loc_arrow">&gt;</span>
                            <span class="loc_text">민원신청</span>
                        </div>
                        <div class="location_icon">
                            <ul class="loc_fixed_icon">
                                <li><button type="button" class="loc_print">프린트</button></li>
                                <li class="icon_sns">
                                    <button type="button" class="loc_sns">SNS</button>
                                    <div class="sns_list">
                                        <a href="#" class="loc_sns_icon1">a</a>
                                        <a href="#" class="loc_sns_icon2">a</a>
                                        <a href="#" class="loc_sns_icon3">a</a>
                                        <a href="#" class="loc_sns_icon4">a</a>
                                        <a href="#" class="loc_sns_icon5">a</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- location -->

                    <!-- contents -->
                    <div class="contents">
                        <div class="board_write">
                            <p class="text_alert alert_write"><span class="required_mark">필수항목</span> 표시는 필수 항목 입니다.</p>
                            <form th:action="@{/complaint/write}" method="post">
                                <input type="hidden" name="memId" th:value="${session.memId}">
                                <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
                                <input type="hidden" name="amount" th:value="${cri.amount}">
                                <input type="hidden" name="searchType" th:value="${cri.searchType}">
                                <input type="hidden" name="searchKeyword" th:value="${cri.searchKeyword}">

                                <table class="table_form">
                                    <caption class="blind">자치회관 게시판 글쓰기</caption>
                                    <colgroup>
                                        <col class="col1">
                                        <col class="col2">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label for="comTitle">제목</label>
                                            <span class="required_mark">필수항목</span>
                                        </th>
                                        <td>
                                            <input type="text" name="comTitle" id="comTitle" class="input form_input" maxlength="300" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="comContent">내용</label>
                                            <span class="required_mark">필수항목</span>
                                        </th>
                                        <td>
                                            <textarea name="comContent" id="comContent" class="input" rows="10" maxlength="4000" required></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">공개여부</th>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" name="comPublic" id="comPublic1" value="1" checked>
                                                <label for="comPublic1">공개</label>
                                            </div>
                                            <div class="radio">
                                                <input type="radio" name="comPublic" id="comPublic0" value="0">
                                                <label for="comPublic0">비공개</label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btns">
                                    <a th:href="@{/complaint/list(pageNum=${cri.pageNum}, amount=${cri.amount}, searchType=${cri.searchType}, searchKeyword=${cri.searchKeyword})}" class="btn btn_default">목록</a>
                                    <input type="submit" class="btn btn_write" value="저장">
                                    <input type="reset" class="btn btn_cancel" value="다시쓰기">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- //contents -->
                    
                    <!-- charge info -->
                    <div class="charge_info">
                        <ul>
                            <li>
                                <span class="info_name">담당부서</span>
                                <span>영등포본동</span>
                            </li>
                            <li>
                                <span class="info_name">담당전화번호</span>
                                <span>02-2670-1026</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //charge info -->
                </main>
                <!-- //main -->
            </div>
        </div>
        <!-- //container -->

        <!-- footer -->
        <footer class="footer" th:replace="~{/common/header_footer_layout :: footer}"></footer>
        <!-- //footer -->
    </div>

    <script th:if="${errorMsg != null and !#strings.isEmpty(errorMsg.trim())}">
        $(document).ready(function() {
            // 오류 메세지 출력
            let errorMsg = `[[${errorMsg}]]`;
            if(errorMsg) {
                alert(errorMsg);
                history.replaceState({}, null, null);
            }
        });
    </script>
</body>
</html>
