<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헌장제 | 행정서비스헌장 | 영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_community_center_list.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_SHAdd.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script>const menuName = '헌장제';</script>
    <script th:src="@{/js/ydpb.js}"></script>
</head>
<body>
<div id="wrap">
    <!-- header -->
    <header class="header" th:replace="~{/common/header_footer_layout :: header}"></header>
    <!-- //header -->

    <!-- search -->
    <div class="search" th:replace="~{/common/header_footer_layout :: search}"></div>
    <!-- //search -->

    <!-- container -->
    <div class="container">
        <div class="contents_wrap safe_area">
            <!-- side menu -->
            <aside class="side_menu" th:replace="~{/common/sidemenu_layout :: sidemenu}"></aside>
            <!-- //side menu -->

            <!-- main -->
            <main>
                <!-- location -->
                <div class="location">
                    <div class="location_title">
                        <h2>헌장제</h2>
                    </div>
                    <div class="location_path">
                        <span class="loc_home"><a th:href="@{/}">홈</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/}">민원안내</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/}">행정서비스헌장</a></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text"><a th:href="@{/}">헌장제</a></span>
                    </div>
                    <div class="location_icon">
                        <ul class="loc_fixed_icon">
                            <li><button type="button" class="loc_print">프린트</button></li>
                            <li class="icon_sns">
                                <button type="button" class="loc_sns">SNS</button>
                                <div class="sns_list">
                                    <a href="#" class="loc_sns_icon1">a</a>
                                    <a href="#" class="loc_sns_icon2">a</a>
                                    <a href="#" class="loc_sns_icon3">a</a>
                                    <a href="#" class="loc_sns_icon4">a</a>
                                    <a href="#" class="loc_sns_icon5">a</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- location -->

                <!-- contents -->
                <div class="contents">
                    <div class="box icon">
                        <div class="box_wrap">
                            <div class="box_title">행정서비스헌장제의 의의</div>
                            <p>행정서비스헌장제란 '90년대초부터 선진국에서 서비스의 질적향상 및『 정부개혁 』정책수단으로 도입한 제도로 국가마다 명칭을 각각 달리 사용하고 있다.</p>
                            <ul class="ul_common">
                                <li>영 국 ('91) : 시민헌장 (Citizen's Charter) Service First ('98)</li>
                                <li>미 국 ('93) : 고객서비스기준 (Customer Service Standards)</li>
                                <li>프랑스 ('92) : 행정서비스헌장 (Public Service Charter)</li>
                                <li>캐나다 ('90) : 서비스기준안 (Service Standards)</li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="title">동 헌장제의 개념</h3>
                    <p>행정기관이 제공하는 1. 서비스의 기준과 내용 2. 제공방법 및 절차 3. 잘못된 서비스에 대한 시정 및 보상조치 등을 구체적으로 정하여 이의 실천할 것을 국민에게 약속하는 제도</p>

                    <h4>헌장 표준안</h4>
                    <div class="temp_box type1">
                        <div class="box_wrap">
                            <ol class="num">
                                <li>헌장전문</li>
                                <li>서비스 이행표준(고객을 대하는 자세, 업무내용, 고객의견제시 방법)</li>
                                <li>고객의 알권리 충족을 위한 정보제공</li>
                                <li>잘못된 서비스에 대한 시정 및 보상</li>
                                <li>고객만족도 조사 및 결과의 공표</li>
                                <li>국민에게 협조를 요청하는 사항</li>
                            </ol>
                        </div>

                    </div>

                    <h4>헌장제정 7대 원칙</h4>
                    <div class="temp_box type1">
                        <div class="box_wrap">
                            <ol class="num">
                                <li>고객중심의 원칙</li>
                                <li>서비스 구체성의 원칙</li>
                                <li>최고 수준의 서비스 제공 원칙</li>
                                <li>비용, 편익 형량의 원칙</li>
                                <li>체계적 정보제공 원칙</li>
                                <li>시정 및 보상조치 명확화의 원칙</li>
                                <li>고객참여의 원칙</li>
                            </ol>
                        </div>

                    </div>

                    <h3 class="title">도입배경</h3>
                    <div class="temp_box type4">
                        <div class="temp_box_wrap">
                            <ul class="ul_common">
                                <li>행정환경의 변화에 따라 지난 50년간 유지되어온 행정서비스의 구조와 틀을 일대쇄신할 필요</li>
                                <li>서비스 제공방식을 고객중심으로 전환하여 주민이 일방적 수혜자가 아닌 적극적인 선택권자임을 감안</li>
                                <li>규제와 절차중심에서 고객과 결과중심으로 전환</li>
                                <li>고품질의 서비스제공 위해 경쟁과 경영의 원리도입</li>
                                <li>『 깨끗하고 공정한 행정 』을 원하는 주민의 기대 충족</li>
                                <li>행정서비스의 투명성 확보하여 서비스제공에 따른 부정과 부패의 방지</li>
                                <li>모든 주민에게 공정하고 평등한 서비스 제공을 약속하여 특혜나 이권의 여지를 근절</li>
                                <li>정부개혁의 성공적 추진을 뒷받침하기 위한 개혁전략 수단 확보</li>
                                <li>정부주도의 개혁만으로는 한계가 있으므로 국민욕구에 대한 대응성과 책임성을 높일 수 있는 제도 필요</li>
                                <li>분야별 목표를 재검토함으로써 개혁의 방향을『 고객위주 』로 설정할 수 있는 계기 마련</li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="title">추진경과</h3>
                    <dl class="history_info">
                        <dt>1999.04.01</dt>
                        <dd class="first_dd">행정서비스헌장제 도입 및 시범운영</dd>

                        <dt>1999.07.01</dt>
                        <dd>행정서비스헌장 제정 및 선포
                            <p class="blt">민원행정서비스헌장, 지적행정서비스 헌장</p>
                        </dd>

                        <dt>2000.02.01</dt>
                        <dd>헌장 추가제정 및 확대시행(1개 분야) - 보건의료, 위생</dd>

                        <dt>2000.07.01</dt>
                        <dd>행정서비스헌장 확대선포(12개 분야)
                            <p class="blt">문화체육, 세무, 복지, 지역경제, 청소, 환경, 도시관리, 주택·건축, 토목, 공원, 교통, 등 민원</p>
                        </dd>

                        <dt>2001.11.16</dt>
                        <dd>영등포구 행정서비스헌장 제정 및 운영에 관한 조례 제정</dd>

                        <dt>2002.04.11</dt>
                        <dd>2002년도 행정서비스헌장 전국기관 평가결과 대통령상 수상</dd>

                        <dt>2004.10.05</dt>
                        <dd>제4차 영등포구 행정서비스헌장 제·개정 선포식
                            <p>(16개분야확대실시)</p>
                        </dd>

                        <dt>2011.07.18</dt>
                        <dd>서울특별시 영등포구 행정서비스헌장 운영 조례 개정</dd>

                        <dt>2012.09.10</dt>
                        <dd>서울특별시 영등포구 행정서비스헌장 개정·시행</dd>

                        <dt>2013.09.23</dt>
                        <dd>서울특별시 영등포구 행정서비스헌장 개정·시행</dd>

                        <dt>2016.12.22</dt>
                        <dd>서울특별시 영등포구 행정서비스헌장 개정·시행</dd>
                    </dl>


                </div>
                <!-- //contents -->

                <!-- charge info -->
                <div class="charge_info">
                    <ul>
                        <li>
                            <span class="info_name">담당부서</span>
                            <span>총무과</span>
                        </li>
                        <li>
                            <span class="info_name">담당전화번호</span>
                            <span>02-2670-3299</span>
                        </li>
                    </ul>
                </div>
                <!-- //charge info -->
            </main>
            <!-- //main -->
        </div>
    </div>
    <!-- //container -->

    <!-- footer -->
    <footer class="footer" th:replace="~{/common/header_footer_layout :: footer}"></footer>
    <!-- //footer -->
</div>
</body>
</html>
