<aside class="side_menu" th:fragment="side">
    <div class="side_title">
        <div class="innerbox">
            <p class="side_title_text">관리자 메뉴</p>
        </div>
    </div>
    <div class="side_list">
        <ul>
            <li class="side_list_menu">
                <a th:href="@{/admin/member/list}" style="text-decoration: none;">
                    <div>
                    <span style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle; width: 150px; white-space: nowrap;">
                        회원정보
                    </span>
                    </div>
                </a>
            </li>

            <li class="side_list_menu">
                <a th:href="@{/admin/complaint/list}" style="text-decoration: none;">
                    <div>
                    <span style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle; width: 150px; white-space: nowrap;">
                    민원
                    </span>
                    </div>
                </a>
            </li>

            <li class="side_list_menu">
                <a th:href="@{/admin/community/list}" style="text-decoration: none;">
                    <div>
                    <span style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle; width: 170px; white-space: nowrap;">
                        자치회관게시판
                    </span>
                    </div>
                </a>
            </li>
            <li class="side_list_menu">
                <a th:href="@{/admin/slide/list}" style="text-decoration: none;">
                    <div>
                    <span style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle; width: 170px; white-space: nowrap;">
                        슬라이드 관리
                    </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>