<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영등포본동 주민센터</title>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">

    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<div id="wrap">

    <!-- header -->

    <header class="header admin_header" th:fragment="header">
        <div class="gnb">
            <div class="safe_area">
                <h1 th:if="${isAdminPage}">
                    <a th:href="@{/}" class="admin_menu">
                        <img th:src="@{/images/common/header_logo.png}" alt="희망 행복 미래도시 영등포">
                    </a>
                </h1>



                <div class="top_menu">
                    <strong class="admin_title">영등포본동 주민센터 관리자</strong>
                </div>

                <!-- 로그인 영역 -->
                <div class="login_area">

                <!-- 관리자 -->

                    <a th:if="${isAdminPage}"
                       th:href="@{/admin/home}"
                       class="admin_menu"
                       style="background-image:url('/images/sub/blank.png');">
                        관리자메뉴
                    </a>

                    <a th:if="${isAdminPage}" th:text="${session.memId} + '님'" style="background-image:url('/images/common/icon_mypage.png');"></a>
                    <a th:if="${isAdminPage}" th:href="@{/logout}" class="icon_logout">로그아웃</a>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->


    <!-- footer -->
    <footer class="footer admin_footer" th:fragment="footer">
        <p class="copy">
            Copyright © YEONGDEUNGPO-GU.
            All rights reserved.
        </p>
    </footer>
    <!-- //footer -->

</div>
</body>
</html>
