
				<aside class="side_menu" th:fragment="side">
                    <div class="side_title">
                        <div class="innerbox">
                            <p class="side_title_text">관리자 메뉴</p>
                        </div>
                    </div>
                    <div class="side_list">
                        <ul>
                            <li class="side_list_menu open">
                                <div><span>관리자메뉴</span></div>
                                <ul class="sub_list show">
                                    <li class="sub_group show">
                                        <p class="sub_group_title open">관리자 메뉴</p>
                                        <ul class="sub_group_list show">
                                            <li class="side_active"><a href="#">회원정보</a></li>
                                            <li><a href="#">민원</a></li>
                                            <li><a href="#">자치회관게시판</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </aside>