@charset "utf-8";

/* font-family: 'Pretendard GOV' */
@import url(//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov-dynamic-subset.min.css);

/* font-family: 'Spoqa Han Sans' */
@font-face{
	font-family:'Spoqa Han Sans';
	font-weight: 400;
	src:url("../font/SpoqaHanSans-Regular.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Regular.woff") format('woff');
}
@font-face{
	font-family:'Spoqa Han Sans';
	font-weight: 600;
	src:url("../font/SpoqaHanSans-Bold.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Bold.woff") format('woff');
}

@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: 400; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600; 
	font-style: normal; 
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700; 
	font-style: normal; 
}

@font-face {
    font-family: 'nps';
	src: url('../font/NPSfontBold.woff2') format('woff2'),
    url('../font/NPSfontBold.woff') format('woff'),
    url('../font/NPSfontBold.otf') format('opentype');

}

