@charset "utf-8";

/* Contents */
.main1 {
    width: 1080px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mainpopup {
    position: relative;
    width: 680px;
}


.slider_list img {
    cursor: pointer;
    width: 100%;
    height: 370px;      /* 원하는 높이 */
    object-fit: cover;
}

.slider_controls {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    gap: 6px;
    background: rgba(0, 0, 0, 0.25);
    padding: 3px 4px;

    z-index: 10;
}

/* 버튼 스타일 */
.slider_controls button {
    border: none;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.slide-counter {
    padding-left: 5px;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    color: #fff;
}

/* 버튼 hover */
.slider_controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}


.maininfo {
    position: relative;
    float: right;
    width: 380px;
    background-color: #25478c;
}
.infobox {
    position: relative;
    z-index: 2;
    padding: 26px 8% 27px;
    text-align: center;
    color: #FFF;
    letter-spacing: -0.03em;
}
.infobox_title {
    margin: 0 0 13px;
    padding: 0;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.info_tel {
    margin-bottom: 11px;
    line-height: 30px;
    font-size: 24px;
    color: #FFF;
}
.office_hour {
    margin-bottom: 19px;
    line-height: 24px;
    font-size: 18px;
}
.info_icon {
    display: block;
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 88px;
    overflow: hidden;
}
.info_iconbox ul{
    display: flex;
    flex-flow: row nowrap;
}
.info_icon::before {
    content: "";
    display: block;
    position: relative;
    top: calc(50% - 20px);
    left: calc(50% - 21px);
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain; 
}

.icon1 .info_icon::before {
    background-image: url("../images/main/main_icon01.png");
}

/* icon2 전용 */
.icon2 .info_icon::before {
    background-image: url("../images/main/main_icon02.png");
}


.info_iconbox ul li {
    width: 50%;
    height: 120px;
}

.main2_p {
    padding: 39px 53px 48px;
}

.main2 {
    position: relative;
    display: block;
    overflow: hidden;
    width: 780px;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.main2_box {
    width: 195px;
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}

.main2_icon {
    display: block;
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto 13px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #f4f7fe;
    border-radius: 88px;
    background-color: #f4f7fe;
    overflow: hidden;
}


.main2_icon::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 26px);
    margin: auto;
    width: 51px;                
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main2_box:nth-child(1) .main2_icon::before {
    background-image: url("../images/main/quick_icon01.png");
}

.main2_box:nth-child(2) .main2_icon::before {
    background-image: url("../images/main/quick_icon02.png");
}

.main2_box:nth-child(3) .main2_icon::before {
    background-image: url("../images/main/quick_icon03.png");
}

.main2_box:nth-child(4) .main2_icon::before {
    background-image: url("../images/main/quick_icon04.png");
}

.main2_text {
    display: block;
    position: relative;
    text-align: center;
    color: #222222;
}

.main3 {
    height: 226px;
    margin-bottom: 44px;
}
.main3_box1 {
    position: relative;
    float: left;
    width: 550px;
}
.main3_box2 {
    position: relative;
    float: right;
    width: 457px;
    margin-top: 10px;
}


.main3_list {
    height: 176px;
}
.main3_dong, .main3_gu {
    width: 120px;
}
.main3_dong.checked {
    font-weight: 600;
    border-color: #000;
}
.main3_gu.checked {
    font-weight: 600;
    border-color: #000;
}



.main3_title{
    display: flex;
    flex-flow: row nowrap;    
    color: #727272;
    font-size: 16px;
    letter-spacing: -0.03em;
}
.main3_title li {
    white-space: nowrap;
    border: 1px solid #727272;
    padding: 13px 22px;
    line-height: 22px;
    cursor: pointer;
}

.main3_title li + li {
    border-left: none; /* 겹치는 테두리 제거 */
}

.main3_contents {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    display: none;
}
.main3_contents.show {
    display: block;
}
.main3_contents ul {
    min-height: 156px;
}
.main3_contents ul li {
    box-sizing: border-box;
    width: 550px;
    display: flex;
    flex-flow: row nowrap;

    position: relative;
    margin-top: 9px;
    padding-right: 126px;
    padding-left: 14px;
}
.main3_contents ul li:first-child {
    margin-top: 0;
}

.main3_contents ul li:before {
    display: block;
    position: relative;
    top: 11px;
    right: 10px;
    width: 3px;
    height: 2px;
    background-color: #222222;
    content: '';
}
.main3_contents ul li a {
    padding-right: 28px;
    height: 24px;
}

.main3_c_title {
    display: block;
    position: relative;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: -0.03em;
}
.main3_c_date {
    width: 80px;
    position: relative;
    top: -22px;
    left: 450px;
    line-height: 22px;
    color: #727272;
    font-size: 15px;
    letter-spacing: -0.03em;
}

.main3_more {
    color: transparent;
}

.main3_more::before {
    display: block;
    position: relative;
    top: -210px;
    left: 530px;
    width: 12px;
    height: 12px;
    background-image: url(../images/main/icon_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: '';
}

.main_titlebox {
    margin-bottom: 25px;
}

.main_titlebox h3 {
    margin: 0;
    padding: 0;
    line-height: 26px;
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.main3_box2_photo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main3_box2_photo a{
    display: block;
    width: 220px;
    height: 160px;
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_photo_text {
    display: block;
    position: relative;
    width: 100%;
    top: 123px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.main_photo_text span {
    display: block;
    padding: 10px 22px 11px 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    letter-spacing: -0.03em;
    position: relative;
    color: #FFF;
}

.main3_more2 {
    color: transparent;
}

.main3_more2::before {
    display: block;
    position: relative;
    top: -205px;
    left: 445px;
    width: 12px;
    height: 12px;
    background-image: url(../images/main/icon_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: '';
}


.main4_program {
    width: 1080px;
    border-collapse: collapse;
    border: none;
}
.main4_program_list {
    height: 382px;
}
.main4_program thead {
    background-color: #657188;
    
}
.main4_program tbody {
    height: 332px;
}
.main4_program th {

    padding: 13px 10px;
    line-height: 24px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

tbody tr:first-child td {
    box-sizing: border-box;
    padding-top: 17px; 
}
tbody tr td:first-child {
    box-sizing: border-box;
    padding-left: 55px;
    width: 300px;   
    text-align: left;
}

tbody tr td:first-child > div {
    margin-left: 55px;
}

tbody tr td:first-child::before {    
    display: block;
    position: relative;
    top: 11px;
    left: 40px;
    width: 3px;
    height: 2px;
    background-color: #222222;
    content: '';
}

.main4_program tbody td {       
    padding: 5px 8px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    font-size: 16px;
    letter-spacing: -0.03em;         
}
.main4_program tbody td:not(:first-child) div {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.state_text{
    margin: 0;
    width: 80px;
    height: 30px;
    text-align: center;

    border-color: #d5d5d5;
    color: #727272;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    line-height: 22px;
    font-size: 16px;
}

.main4_more {
    color: transparent;
}

.main4_more::before {
    display: block;
    position: relative;
    bottom: 425px;
    left: 1070px;
    width: 12px;
    height: 12px;
    background-image: url(../images/main/icon_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: '';
}

/* hover시 밑줄 나오게 하기 */

.underline_text {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.underline_text::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #FFF;
    content: '';    
    transform: scaleX(0);
    transform-origin: center; /* 가운데 기준 */
    transition: transform 200ms ease-in-out;
}
/* 밑줄 */
.icon1:hover .underline_text::before,
.icon2:hover .underline_text::before {
    transform: scaleX(1);
}

.main2_box:hover .main2_text .underline_text::before,
.main4_program td>div:hover .underline_text::before
{
    border-bottom-color: #000;
    transform: scaleX(1);
}

.main3_contents .underline_text:hover::before{
    width: 400px;
    border-bottom-color: #000;
    transform: scaleX(1);
}

/* 회전 */
.icon1:hover .rotate_icon,
.icon2:hover .rotate_icon{
    transform: rotateY(360deg);
    transition: transform 400ms ease-in-out;
}

.main2_box:hover .rotate_icon {
    background-color: #fff;
    border-width: 3px;
}

.main2_box:hover .main2_icon::before {
    transform: rotateY(360deg);
    transition: transform 400ms ease-in-out;
}

.main3_more:hover::before,
.main3_more2:hover::before,
.main4_more:hover::before {
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}

/* /Contents */