
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영등포본동 주민센터</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb.css}">
    <link rel="stylesheet" th:href="@{/css/ydpb_main.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script>const menuName = '영등포본동 주민센터';</script>
    <script th:src="@{/js/ydpb.js}"></script>
    <script th:src="@{/js/ydpb_main.js}"></script>
    <!-- Slick -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            // 최신글 불러오기 | ydpb_main.js
            const rootPath = /*[[@{/}]]*/null;
            mainRecent(rootPath);
        });
    </script>
</head>
<th:block th:if="${msg !=null}" >
    <script th:inline="javascript">
        alert('[[${msg}]]');
    </script>
</th:block>
<body>
<div id="wrap">
    <!-- header -->
    <header class="header" th:insert="~{common/header_footer_layout::header}"></header>

    <!-- //header -->

    <!-- search -->
    <div class="search" th:insert="~{common/header_footer_layout::search}"></div>
    <!-- //search -->

    <!-- container -->
    <div class="container">
        <div class="contents_wrap safe_area">
            <!-- side menu -->
            <aside class="side_menu" th:insert="~{common/sidemenu_layout::sidemenu}"></aside>
            <!-- //side menu -->

            <!-- main -->
            <main>
                <!-- location -->
                <div class="location">
                    <div class="location_title">
                        <h2>영등포본동 주민센터</h2>
                    </div>
                    <div class="location_path">
                        <span class="loc_home"></span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">동주민센터</span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">영등포본동</span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">우리동이야기</span>
                        <span class="loc_arrow">></span>
                        <span class="loc_text">영등포본동 주민센터</span>
                    </div>
                    <div class="location_icon">
                        <ul class="loc_fixed_icon">
                            <li><button type="button" class="loc_print"></button></li>
                            <li class="icon_sns">
                                <button type="button" class="loc_sns"></button>
                                <div class="sns_list">
                                    <a href="#" class="loc_sns_icon1"></a>
                                    <a href="#" class="loc_sns_icon2"></a>
                                    <a href="#" class="loc_sns_icon3"></a>
                                    <a href="#" class="loc_sns_icon4"></a>
                                    <a href="#" class="loc_sns_icon5"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- location -->

                <!-- contents -->
                <div class="contents">
                    <div class="main1">
                        <div class="mainpopup">
                            <div class="slider_controls">
                                <span class="slide-counter">
                                    <span class="current">1</span> /
                                    <span class="total">1</span>
                                </span>
                                <button type="button" class="btn-prev">❮</button>
                                <button class="btn-toggle" data-state="play">❚❚</button>
                                <button type="button" class="btn-next">❯</button>
                            </div>

                            <div class="slider_list">
                                <div class="slider_item" th:each="slide : ${slides}">
                                    <a th:href="${slide.linkUrl}">
                                        <img th:src="@{${slide.imagePath}}" th:alt="${slide.title}">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="maininfo">
                            <div class="infobox">
                                <h3 class="infobox_title">
                                    영등포본동 주민센터 이용안내
                                </h3>
                                <p class="info_tel">02-2670-1049</p>
                                <p class="office_hour">
                                    09:00 ~ 18:00(월~금)
                                    <br>
                                    (공휴일 제외)
                                </p>
                                <div class="info_iconbox">
                                    <ul>
                                        <li class="icon1">
                                            <a th:href="@{/sub/business_guide}">
                                                    <span class="info_icon rotate_icon">

                                                    </span>
                                                <span class="info_text1">
                                                        <div class="underline_text">직원안내</div>
                                                    </span>
                                            </a>
                                        </li>
                                        <li class="icon2">
                                            <a th:href="@{/sub/location}">
                                                    <span class="info_icon rotate_icon">

                                                    </span>
                                                <span class="info_text2">
                                                        <div class="underline_text">찾아오시는길</div>
                                                    </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="main2_p">
                        <div class="main2">
                            <div class="main2_box">
                                <a href="#">
                                    <div class="main2_icon rotate_icon">

                                    </div>
                                    <div class="main2_text">
                                        <div class="underline_text">대형폐기물</div>
                                    </div>
                                </a>
                            </div>
                            <div class="main2_box">
                                <a href="#">
                                    <div class="main2_icon rotate_icon">

                                    </div>
                                    <div class="main2_text">
                                        <div class="underline_text">채용정보</div>
                                    </div>
                                </a>
                            </div>
                            <div class="main2_box">
                                <a href="#">
                                    <div class="main2_icon rotate_icon">

                                    </div>
                                    <div class="main2_text">
                                        <div class="underline_text">정부24</div>
                                    </div>
                                </a>
                            </div>
                            <div class="main2_box">
                                <a href="#">
                                    <div class="main2_icon rotate_icon">

                                    </div>
                                    <div class="main2_text">
                                        <div class="underline_text">영등포소식지</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="main3">
                        <section class="main3_box1">
                            <ul class="main3_title">
                                <li class="main3_dong checked"><span>우리동 소식</span></li>
                                <li class="main3_gu"><span>우리구 소식</span></li>
                            </ul>
                            <ul class="main3_list">
                                <li>
                                    <div class="main3_contents m3dong show">
                                        <ul id="mainDongNews" class="loading_container loading"></ul>
                                        <a th:href="@{/dongnews/list}" class="main3_more">소식더보기</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="main3_contents m3gu">
                                        <ul id="mainGuNews" class="loading_container loading"></ul>
                                        <a th:href="@{/gunews/list}" class="main3_more">소식더보기</a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section class="main3_box2">
                            <div class="main_titlebox">
                                <h3>우리동 갤러리</h3>
                            </div>

                            <div class="main3_box2_photo">

                                <!-- 게시글 없으면 -->
                                <a th:if="${gallery_list == null || #lists.isEmpty(gallery_list)}"
                                   th:href="@{/gallery/list}"
                                   class="no_data"
                                   th:style="|background-image:url('@{/images/sub/no_image_icon.png}');|">
                                    <div class="main_photo_text">
                                        <span>게시글이 없습니다</span>
                                    </div>
                                </a>

                                <!-- 게시글 있을 때 -->
                                <a th:if="${gallery_list != null && #lists.size(gallery_list) > 0}"
                                   th:href="@{/gallery/view(galId=${gallery_list[0].galId})}"
                                   th:style="|background-image:url('@{${gallery_list[0].files != null && #lists.size(gallery_list[0].files) > 0 ? '/gallery/download?fileId=' + gallery_list[0].files[0].fileId : '/images/sub/no_image_icon.png'}}');|">
                                    <div class="main_photo_text">
                                        <span th:text="${gallery_list[0].galTitle}"></span>
                                    </div>
                                </a>

                                <a th:if="${gallery_list != null && #lists.size(gallery_list) > 1}"
                                   th:href="@{/gallery/view(galId=${gallery_list[1].galId})}"
                                   th:style="|background-image:url('@{${gallery_list[1].files != null && #lists.size(gallery_list[1].files) > 0 ? '/gallery/download?fileId=' + gallery_list[1].files[0].fileId : '/images/sub/no_image_icon.png'}}');|">
                                    <div class="main_photo_text">
                                        <span th:text="${gallery_list[1].galTitle}"></span>
                                    </div>
                                </a>

                            </div>

                            <div>
                                <a th:href="@{/gallery/list}" class="main3_more2">소식더보기</a>
                            </div>
                        </section>


                    </div>
                    <div class="main4">
                        <div class="main_titlebox">
                            <h3>자치회관 프로그램</h3>
                        </div>
                        <div class="main4_program_list">
                            <table class="main4_program">
                                <thead>
                                <tr>
                                    <th>프로그램명</th>
                                    <th>접수기간</th>
                                    <th>교육기간</th>
                                    <th>모집정원</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">인터넷교실(초급)</a></div></td>
                                    <td><div>09.22 ~ 09.30</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>16</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">인터넷교실(중급</a>)</div></td>
                                    <td><div>09.22 ~ 09.30</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>16</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">스마트폰활용</a></div></td>
                                    <td><div>09.22 ~ 09.30</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>16</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">라인댄스</a></div></td>
                                    <td><div>09.22 ~ 09.30</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>30</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">라인댄스</a></div></td>
                                    <td><div>09.22 ~ 09.30</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>30</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">라인댄스</a></div></td>
                                    <td><div>09.22 ~ 09.24</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>30</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">라인댄스</a></div></td>
                                    <td><div>09.22 ~ 09.24</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>30</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div><a href="#"  class="underline_text">요가교실</a></div></td>
                                    <td><div>09.22 ~ 09.22</div></td>
                                    <td><div>10.01 ~ 12.31</div></td>
                                    <td><div>30</div></td>
                                    <td>
                                        <div>
                                            <div class="state_box">
                                                <div class="state_text">교육중</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="" class="main4_more">소식더보기</a>
                    </div>
                </div>
                <!-- //contents -->

                <!-- charge info -->
                <div class="charge_info">
                    <ul>
                        <li>
                            <span class="info_name">담당부서</span>
                            <span>영등포본동</span>
                        </li>
                        <li>
                            <span class="info_name">담당전화번호</span>
                            <span>02-2670-1026</span>
                        </li>
                    </ul>
                </div>
                <!-- //charge info -->
            </main>
            <!-- //main -->
        </div>
    </div>
    <!-- //container -->

    <!-- footer -->
    <footer class="footer" th:insert="~{common/header_footer_layout::footer}"></footer>
    <!-- //footer -->
</div>
</body>
</html>
