<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.AdminMapper">

    <select id="getAllComplaint" resultType="kr.go.ydpb.domain.MemberVO">
        select * from (select A.* ,Rownum Rnum from (select * from tbl_complaint order by comId desc)A) where Rnum >= #{start} and Rnum <= #{end};
    </select>

    <select id="getOneComplaint" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_complaint WHERE comId = #{comId}
    </select>

    <select id="searchComplaint" resultType="kr.go.ydpb.domain.MemberVO">
        <![CDATA[
        select * from
        (select A.* ,Rownum Rnum from
        (select * from tbl_complaint order by comId desc)A)
        where (Rnum >= #{start} and Rnum <= #{end}) and comTitle LIKE '%'||#{searchKeyword}||'%';
        ]]>
    </select>

    <select id="updateComplaint" resultType="kr.go.ydpb.domain.MemberVO">
        UPDATE tbl_complaint
        SET
            comAnswer = #{comAnswer}
        WHERE comId = #{comId}
    </select>

    <select id="deleteComplaint" resultType="kr.go.ydpb.domain.MemberVO">
        DELETE FROM tbl_complaint WHERE comId = #{comId}
    </select>

    <select id="getMember" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_member where memId = #{memId} and memPassword = #{memPassword} and memRole= 1
    </select>

</mapper>