<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.AdminMemberMapper">

    <sql id="criteria">
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType == 'I'.toString()">
                    AND MEMID LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'N'.toString()">
                    AND MEMNAME LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'P'.toString()">
                    AND MEMPHONE LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'E'.toString()">
                    AND MEMEMAIL LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'D'.toString()">
                    AND TO_CHAR(MEMREGDATE, 'YYYYMMDD') LIKE '%'|| REPLACE(#{searchKeyword}, '-', '') ||'%'
                </when>
            </choose>
        </if>
    </sql>

<!--    0202 귀환 수정-->
    <select id="getMemberList" resultType="kr.go.ydpb.domain.MemberVO">
        <![CDATA[
        SELECT
            memId, memName, memPhone, memEmail, memAddress, memRegDate, loginType
        FROM (
            SELECT
                rownum rn, memId, memName, memPhone, memEmail, memAddress, memRegDate , loginType
            FROM (
                SELECT
                    MEMID as memId,
                    MEMNAME as memName,
                    MEMPHONE as memPhone,
                    MEMEMAIL as memEmail,
                    MEMADDRESS as memAddress,
                    MEMREGDATE as memRegDate,
                    LOGINTYPE as loginType
                FROM TBL_MEMBER
                WHERE MEMID IS NOT NULL
        ]]>
        <include refid="criteria"></include>   -- 검색조건이 끼어듬(criteria코드 재활용)
        <![CDATA[
                ORDER BY MEMREGDATE DESC    -- 최신가입자부터 정렬
            )
            WHERE rownum <= #{pageNum} * #{amount}  -- 페이지넘버 x 한페이지갯수(10)까지 가져옴
        )
        WHERE rn > (#{pageNum} - 1) * #{amount}  -- 가져온 결과물에서 앞 페이지만큼 버림
        ]]>
    </select>

<!--    페이징 버튼 갯수 계산용-->
    <select id="getTotalCount" resultType="int">
        SELECT count(*) FROM TBL_MEMBER
        WHERE MEMID IS NOT NULL
        <include refid="criteria"></include>
    </select>

    <select id="getMemberById" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_member WHERE memId = #{memId}
    </select>

    <update id="updatePassword">
        UPDATE tbl_member
        SET memPassword = #{memPassword}
        WHERE memId = #{memId}
    </update>

    <delete id="deleteMember">
        DELETE FROM tbl_member WHERE memId = #{memId}
    </delete>

    <!-- 일정 기간 개수 조회 -->
    <select id="getCountPeriod" resultType="int">
        <![CDATA[
        select count(*)
        from tbl_member
        where memRegDate >= #{startDate} and memRegDate < #{endDate}
        ]]>
    </select>

</mapper>