<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ydpb.mapper.CommunityMapper">

    <insert id="insert">
        insert into tbl_community(cmntId, cmntTitle, cmntContent, memId, cmntDepartment, cmntDate)
        values (seq_community.nextval, #{cmntTitle}, #{cmntContent}, #{memId}, #{cmntDepartment}, sysdate)
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="cmntId" order="BEFORE" resultType="long">
            select seq_community.nextval from dual
        </selectKey>
        insert into tbl_community(cmntId,cmntTitle,cmntContent,memId)
        values (#{cmntId}, #{cmntTitle}, #{cmntContent}, #{memId})
    </insert>

    <delete id="delete">
        delete from tbl_community where cmntId = #{cmntId}
    </delete>

    <select id="read" resultType="kr.go.ydpb.domain.CommunityVO">
        select * from tbl_community where cmntId = #{cmntId}
    </select>

    <update id="update">
        update tbl_community
        set cmntTitle = #{cmntTitle},
            cmntContent = #{cmntContent},
            cmntDepartment = #{cmntDepartment},
            cmntUpdatedate = sysdate
        where cmntId = #{cmntId}
    </update>

    <!-- 검색 조건 -->
    <sql id="criteria">
        <where>
            <choose>
                <when test="searchType == 'T'.toString()">
                    cmntTitle like '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'C'.toString()">
                    cmntContent like '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'D'.toString()">
                    cmntDepartment like '%'||#{searchKeyword}||'%'
                </when>
            </choose>
        </where>
    </sql>

    <!-- 리스트 -->
    <select id="getList" resultType="kr.go.ydpb.domain.CommunityVO">
        select cmntId, cmntTitle, cmntDate, cmntUpdatedate, cmntDepartment, cmntContent, cmntCount, memId
        from (
        select /*+INDEX_DESC(tbl_community SYS_C007039) */
        cmntId, cmntTitle, cmntDate, cmntUpdatedate, cmntDepartment, cmntContent, cmntCount, memId,
        ROW_NUMBER() over (order by cmntId desc) as rn
        from tbl_community
        <include refid="criteria"/>
        )
        where rn between (#{pageNum} - 1) * #{amount} + 1 and #{pageNum} * #{amount}
    </select>

    <!-- 총 갯수 -->
    <select id="getTotalCount" resultType="int">
        select count(*)
        from tbl_community
        <include refid="criteria"/>
    </select>

    <!-- 조회수 증가 -->
    <update id="updateCount">
        UPDATE tbl_community
        SET cmntCount = cmntCount + 1
        WHERE cmntId = #{cmntId}
    </update>

    <!-- 이전글 -->
    <select id="getPrev" resultType="kr.go.ydpb.domain.CommunityVO">
        select cmntId, cmntTitle
        from (
        select cmntId, cmntTitle,
        ROW_NUMBER() over (order by cmntId desc) as rn
        from tbl_community
        where cmntId &lt; #{cmntId}
        <if test="cri.searchType != null and cri.searchType != ''">
            and
            <choose>
                <when test="cri.searchType == 'T'.toString()">
                    cmntTitle LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'C'.toString()">
                    cmntContent LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'D'.toString()">
                    cmntDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
            </choose>
        </if>
        )
        where rn = 1
    </select>

    <!-- 다음글 -->
    <select id="getNext" resultType="kr.go.ydpb.domain.CommunityVO">
        select cmntId, cmntTitle
        from (
        select cmntId, cmntTitle,
        ROW_NUMBER() over (order by cmntId asc) as rn
        from tbl_community
        where cmntId > #{cmntId}
        <if test="cri.searchType != null and cri.searchType != ''">
            and
            <choose>
                <when test="cri.searchType == 'T'.toString()">
                    cmntTitle LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'C'.toString()">
                    cmntContent LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'D'.toString()">
                    cmntDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
            </choose>
        </if>
        )
        where rn = 1
    </select>

    <!-- 일정 기간 개수 조회 -->
    <select id="getCountPeriod" resultType="int">
        <![CDATA[
        select count(*)
        from tbl_community
        where cmntDate >= #{startDate} and cmntDate < #{endDate}
        ]]>
    </select>

</mapper>
