<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 민원 sql 등록 xml - 귀환 -->
<mapper namespace="kr.go.ydpb.mapper.ComplaintMapper">

<!--   검색용 동적 sql 추가 -->
<!--    where 앞에 추가-->
    <sql id="criteria2">
        <where>
            <trim prefix="(" suffix=") ">
                    <choose>
                        <when test="searchType == 'T'.toString()">
                            COMTITLE LIKE '%'||#{searchKeyword}||'%'
                        </when>
                        <when test="searchType == 'I'.toString()">
                            COMID LIKE #{searchKeyword}
                        </when>
                        <when test="searchType == 'P'.toString()">
                            COMPUBLIC LIKE #{searchKeyword}
                        </when>
                        <when test="searchType == 'S'.toString()">
                            COMSTATUS LIKE #{searchKeyword}
                        </when>
                        <when test="searchType == 'D'.toString()">
                            TO_CHAR(COMDATE,'YYYYMMDD')
                            LIKE '%'||REPLACE(#{searchKeyword},'-','')||'%'
                        </when>
                    </choose>
            </trim>
        </where>
    </sql>

<!--    where 없음-->
    <sql id="criteria">
        <trim prefix="(" suffix=") ">
            <choose>
                <when test="searchType == 'T'.toString()">
                    COMTITLE LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'I'.toString()">
                    COMID LIKE #{searchKeyword}
                </when>
                <when test="searchType == 'P'.toString()">
                    COMPUBLIC LIKE #{searchKeyword}
                </when>
                <when test="searchType == 'S'.toString()">
                    COMSTATUS LIKE #{searchKeyword}
                </when>
                <when test="searchType == 'D'.toString()">
                    TO_CHAR(COMDATE,'YYYYMMDD')
                    LIKE '%'||REPLACE(#{searchKeyword},'-','')||'%'
                </when>
            </choose>
        </trim>
    </sql>

<!-- 민원 총 갯수 파악 sql-->
    <select id="getAllCount" resultType="int">
        SELECT count(*) FROM tbl_complaint
    </select>

<!--    <select id="getAllComplaint" resultType="kr.go.ydpb.domain.ComplaintVO">-->
<!--        <![CDATA[-->
<!--        select * from-->
<!--            (select A.* ,Rownum Rnum from-->
<!--                    (select * from tbl_complaint order by comId desc)A)-->
<!--        where Rnum >= #{start} and Rnum <= #{end}-->
<!--        ]]>-->
<!--    </select>-->

<!--    목록 페이징 sql -->
    <select id="getComplaintWithPaging" resultType="kr.go.ydpb.domain.ComplaintVO">
        <![CDATA[
        SELECT comId, comTitle, comDate, comPublic, comStatus, comContent, comAnswer, memId
        FROM (
            SELECT a.*, ROWNUM rn
            FROM (
                SELECT comId, comTitle, comDate, comPublic, comStatus, comContent, comAnswer, memId
                FROM tbl_complaint
        ]]>
                <where>
                    <if test="searchType != null and searchKeyword != null and searchKeyword != ''">
                        <include refid="criteria"/>
                    </if>
                </where>
                <![CDATA[
                ORDER BY comDate DESC, comId DESC
            ) a
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

<!--   검색 결과 갯수 파악-->
    <select id="getAllSearchCount" resultType="int">
        <![CDATA[
    select
        count(*)
    from
        tbl_complaint

    ]]>
        <include refid="criteria2"/>
    </select>

<!-- 하나의 민원 조회 sql-->
    <select id="getOneComplaint" resultType="kr.go.ydpb.domain.ComplaintVO">
    <![CDATA[SELECT * FROM tbl_complaint
                 WHERE ]]>
            <![CDATA[comId = #{comId}]]>
    </select>

<!--    <select id="searchComplaint" resultType="kr.go.ydpb.domain.ComplaintVO">-->
<!--        <![CDATA[-->
<!--        select * from-->
<!--            (select A.* ,Rownum Rnum from-->
<!--                    (select * from tbl_complaint order by comId desc)A)-->
<!--        <include refid="criteria"></include>-->
<!--        where (Rnum >= #{start} and Rnum <= #{end}) and comTitle LIKE '%'||#{searchKeyword}||'%'-->
<!--        ]]>-->
<!--    </select>-->

<!--    관리자 민원 답변 sql-->
    <update id="updateComplaint" >
        UPDATE tbl_complaint
        SET
            comAnswer = #{comAnswer},
            answerId = #{answerId},
            comStatus = #{comStatus}
        WHERE comId = #{comId}
    </update>

<!--    민원 삭제 sql-->
    <delete id="deleteComplaint">
        DELETE FROM tbl_complaint WHERE comId = #{comId}
    </delete>

<!--    <select id="getMember" resultType="kr.go.ydpb.domain.MemberVO">-->
<!--        SELECT * FROM tbl_member where memId = #{memId} and memPassword = #{memPassword} and memRole= 1-->
<!--    </select>-->

<!--    사용자 민원 등록 sql-->
    <insert id="insertComplaint">
        <selectKey keyProperty="comId" resultType="int" order="BEFORE">
            SELECT seq_complaint.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO tbl_complaint (comId, comTitle, comPublic, comContent, memId)
        VALUES (#{comId}, #{comTitle}, #{comPublic}, #{comContent}, #{memId})
    </insert>

<!--  사용자 민원 수정 sql-->
    <update id="updateComplaintUser" >
        UPDATE tbl_complaint
        SET
            comTitle = #{comTitle},
            comPublic = #{comPublic},
            comContent = #{comContent}
        WHERE comId = #{comId}
    </update>

    <!-- 일정 기간 개수 조회 -->
    <select id="getCountPeriod" resultType="int">
        <![CDATA[
        select count(*)
        from tbl_complaint
        where comDate >= #{startDate} and comDate < #{endDate}
        ]]>
    </select>


</mapper>
