<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 민원 아카이브 sql 등록 xml - 귀환 -->
<mapper namespace="kr.go.ydpb.mapper.ComplaintArchiveMapper">

    <!-- 모든 민원 아카이브 조회 sql-->
    <select id="getAllComplaintArc" resultType="kr.go.ydpb.domain.ComplaintArchiveVO">
        <![CDATA[
        select * from tbl_complaint_arc order by comId desc;
        ]]>
    </select>

    <!-- 하나의 민원 아카이브 조회 sql-->
    <select id="getOneComplaintArc" resultType="kr.go.ydpb.domain.ComplaintArchiveVO">
        <![CDATA[SELECT * FROM tbl_complaint_arc
                 WHERE ]]>
        <![CDATA[comId = #{comId}]]>
    </select>

    <!--    사용자 민원 아카이브 등록 sql-->
    <insert id="insertComplaintArc">
        insert into tbl_complaint_arc(
        comId, comTitle, comDate, comPublic, comStatus, comContent,
        comAnswer, memId,  deleteYn)
        values(
        #{comId},  #{comTitle}, sysdate,   #{comPublic},         null,        #{comContent},
        #{comAnswer , jdbcType=VARCHAR},   #{memId},   0 )
    </insert>
    <!--    관리자 민원 답변 아카이브 sql 답변처리까지 걸린 일수는 자바에서 계산-->
    <update id="updateComplaintArc" >
        UPDATE tbl_complaint_arc
        SET
        comAnswer = #{comAnswer},
        comStatus = #{comStatus},
        answerId = #{answerId, jdbcType=VARCHAR},
        answerDate= sysdate,
        answerPeriod= CEIL(sysdate -comDate )
        WHERE comId = #{comId}
    </update>

    <!--  사용자 민원 아카이브 수정 sql-->
    <update id="updateComplaintUserArc" >
        UPDATE tbl_complaint_arc
        SET
        comTitle = #{comTitle},
        comPublic = #{comPublic},
        comContent = #{comContent}
        WHERE comId = #{comId}
    </update>

    <!--    민원 아카이브 삭제 sql-->
    <update id="deleteComplaintArc">
        UPDATE  tbl_complaint_arc
        SET deleteYn = 1
        WHERE comId = #{comId}
    </update>

</mapper>
