<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ydpb.mapper.DongnewsMapper">

    <sql id="criteria">
        <where>
            <choose>
                <when test="searchType == 'T'.toString()">
                    dnewsTitle LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'C'.toString()">
                    dnewsContent LIKE '%'||#{searchKeyword}||'%'
                </when>
            </choose>
        </where>
    </sql>

    <select id="getTotalCount" resultType="int">
        select count(*)
        from tbl_dongnews
        <include refid="criteria"/>
    </select>

    <select id="getList" resultType="kr.go.ydpb.domain.DongnewsVO">
        select dnewsId, dnewsTitle, dnewsDepartment, dnewsDate, dnewsCount, memId
        from (
            select /*+INDEX_DESC(tbl_dongnews SYS_C007080) */
                dnewsId, dnewsTitle, dnewsDepartment, dnewsDate, dnewsCount, memId,
                ROW_NUMBER() over (order by dnewsId desc) as rn
            from tbl_dongnews
            <include refid="criteria"/>
        )
        where rn between (#{pageNum} - 1) * #{amount} + 1 and #{pageNum} * #{amount}
    </select>

    <insert id="insert">
        insert into tbl_dongnews(dnewsId, dnewsTitle, dnewsDepartment, dnewsTel, dnewsContent, memId)
        values(seq_dongnews.nextval, #{dnewsTitle}, #{dnewsDepartment}, #{dnewsTel}, #{dnewsContent}, #{memId})
    </insert>

    <update id="updateCount">
        update tbl_dongnews set dnewsCount = dnewsCount + 1 where dnewsId = #{dnewsId}
    </update>

    <select id="read" resultType="kr.go.ydpb.domain.DongnewsVO">
        select * from tbl_dongnews where dnewsId = #{dnewsId}
    </select>

    <update id="update">
        update tbl_dongnews
        set dnewsTitle = #{dnewsTitle}, dnewsDepartment = #{dnewsDepartment}, dnewsTel = #{dnewsTel}, dnewsContent = #{dnewsContent}, dnewsUpdatedate = sysdate
        where dnewsId = #{dnewsId}
    </update>

    <delete id="delete">
        delete from tbl_dongnews where dnewsId = #{dnewsId}
    </delete>

    <!-- 이전글 -->
    <select id="getPrev" resultType="kr.go.ydpb.domain.DongnewsVO">
        select dnewsId, dnewsTitle
        from (
            select dnewsId, dnewsTitle,
                ROW_NUMBER() over (order by dnewsId desc) as rn
            from tbl_dongnews
            where dnewsId &lt; #{dnewsId}
                <if test="cri.searchType != null and cri.searchType != ''">
                    and
                    <choose>
                        <when test="cri.searchType == 'T'.toString()">
                            dnewsTitle LIKE '%'||#{cri.searchKeyword}||'%'
                        </when>
                        <when test="cri.searchType == 'C'.toString()">
                            dnewsContent LIKE '%'||#{cri.searchKeyword}||'%'
                        </when>
                    </choose>
                </if>
        )
        where rn = 1
    </select>

    <!-- 다음글 -->
    <select id="getNext" resultType="kr.go.ydpb.domain.DongnewsVO">
        select dnewsId, dnewsTitle
        from (
            select dnewsId, dnewsTitle,
                ROW_NUMBER() over (order by dnewsId asc) as rn
            from tbl_dongnews
            where dnewsId &gt; #{dnewsId}
                <if test="cri.searchType != null and cri.searchType != ''">
                    and
                    <choose>
                        <when test="cri.searchType == 'T'.toString()">
                            dnewsTitle LIKE '%'||#{cri.searchKeyword}||'%'
                        </when>
                        <when test="cri.searchType == 'C'.toString()">
                            dnewsContent LIKE '%'||#{cri.searchKeyword}||'%'
                        </when>
                    </choose>
                </if>
        )
        where rn = 1
    </select>

</mapper>




