<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.DongNewsFileMapper">

    <insert id="insert">
        insert into
            tbl_dongnews_file (fileId, uuid, fileName, uploadPath, altText, insertYn, dnewsId)
        values
            (seq_dongnews_file.nextval, #{uuid}, #{fileName}, #{uploadPath}, #{altText}, #{insertYn}, #{dnewsId})
    </insert>

    <select id="read" resultType="kr.go.ydpb.domain.DongNewsFileVO">
        select
            fileId, uuid, fileName, uploadPath, altText, insertYn, dnewsId
        from
            tbl_dongnews_file
        where
            fileId = #{fileId}
    </select>

    <select id="getFiles" resultType="kr.go.ydpb.domain.DongNewsFileVO">
        select
            fileId, uuid, fileName, uploadPath, altText, insertYn, dnewsId
        from
            tbl_dongnews_file
        where
            dnewsId = #{dnewsId}
        order by
            fileId
    </select>

    <select id="countFiles" resultType="int">
        select count(*) from tbl_dongnews_file where dnewsId = #{dnewsId}
    </select>

    <!-- 게시글별 파일 삭제 -->
    <delete id="deleteFileByBoardId">
        delete from tbl_dongnews_file where dnewsId = #{dnewsId}
    </delete>

    <!-- 파일 단건 삭제 -->
    <delete id="deleteFileByFileId">
        delete from tbl_dongnews_file where fileId = #{fileId}
    </delete>

</mapper>
