<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ydpb.mapper.GalleryMapper">

    <insert id="insert">
        insert into tbl_gallery(galId, galTitle, galContent, memId, galDepartment, galDate, galTel)
        values (seq_gallery.nextval, #{galTitle}, #{galContent}, #{memId}, #{galDepartment}, sysdate, #{galTel})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="galId" order="BEFORE" resultType="long">
            select seq_gallery.nextval from dual
        </selectKey>
        insert into tbl_gallery(galId, galTitle, galContent, memId, galDepartment, galTel)
        values (#{galId}, #{galTitle}, #{galContent}, #{memId}, #{galDepartment}, #{galTel})
    </insert>

    <delete id="delete">
        delete from tbl_gallery where galId = #{galId}
    </delete>

    <select id="read" resultType="kr.go.ydpb.domain.GalleryVO">
        select * from tbl_gallery where galId = #{galId}
    </select>

    <update id="update">
        update tbl_gallery
        set galTitle = #{galTitle},
            galContent = #{galContent},
            galDepartment = #{galDepartment},
            galUpdatedate = sysdate,
            galTel = #{galTel}
        where galId = #{galId}
    </update>

    <sql id="criteria">
        <choose>
            <when test="searchType == 'T'.toString()">
                galTitle like '%'||#{searchKeyword}||'%'
            </when>
            <when test="searchType == 'C'.toString()">
                galContent like '%'||#{searchKeyword}||'%'
            </when>
            <when test="searchType == 'D'.toString()">
                galDepartment like '%'||#{searchKeyword}||'%'
            </when>
        </choose>
    </sql>

    <select id="getList" resultType="kr.go.ydpb.domain.GalleryVO">
        <![CDATA[
        select *
        from (
            select /*+INDEX_DESC(tbl_gallery SYS_C007039) */
                galId, galTitle, galDate, galUpdatedate, galDepartment, galContent, galCount, galTel, memId,
                ROW_NUMBER() over (order by galId desc) as rn
            from
                tbl_gallery
        ]]>
        <if test="searchKeyword != null and searchKeyword != ''.toString()">
            where
            <include refid="criteria"/>
        </if>
        <![CDATA[
        )
        where
            rn > (#{pageNum} - 1) * #{amount} and rn <= #{pageNum} * #{amount}
        ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        select
        count(*)
        from
        tbl_gallery
        where
        <if test="searchKeyword != null and searchKeyword != ''.toString()">
            <include refid="criteria"/>
            and
        </if>
        <![CDATA[
            galId > 0
        ]]>
    </select>

    <update id="updateCount">
        UPDATE tbl_gallery
        SET galCount = galCount + 1
        WHERE galId = #{galId}
    </update>

    <!-- 이전글 -->
    <select id="getPrev" resultType="kr.go.ydpb.domain.GalleryVO">
        SELECT *
        FROM (
        SELECT
        galId,
        galTitle
        FROM tbl_gallery
        <where>
            galId &gt; #{galId}
            <if test="cri.searchKeyword != null and cri.searchKeyword != ''">
                AND
                <choose>
                    <when test="cri.searchType == 'T'">
                        galTitle LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                    <when test="cri.searchType == 'C'">
                        galContent LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                    <when test="cri.searchType == 'D'">
                        galDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY galId ASC
        )
        WHERE ROWNUM = 1
    </select>

    <!-- 다음글 -->
    <select id="getNext" resultType="kr.go.ydpb.domain.GalleryVO">
        SELECT *
        FROM (
        SELECT
        galId,
        galTitle
        FROM tbl_gallery
        <where>
            galId &lt; #{galId}
            <if test="cri.searchKeyword != null and cri.searchKeyword != ''">
                AND
                <choose>
                    <when test="cri.searchType == 'T'">
                        galTitle LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                    <when test="cri.searchType == 'C'">
                        galContent LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                    <when test="cri.searchType == 'D'">
                        galDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY galId DESC
        )
        WHERE ROWNUM = 1
    </select>

</mapper>
