<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ydpb.mapper.GalleryMapper">

    <insert id="insert">
        insert into tbl_gallery(galId, galTitle, galContent, memId, galDepartment, galDate, galTel)
        values (seq_gallery.nextval, #{galTitle}, #{galContent}, #{memId}, #{galDepartment}, sysdate, #{galTel})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="galId" order="BEFORE" resultType="long">
            select seq_gallery.nextval from dual
        </selectKey>
        insert into tbl_gallery(galId, galTitle, galContent, memId, galDepartment, galTel)
        values (#{galId}, #{galTitle}, #{galContent}, #{memId}, #{galDepartment}, #{galTel})
    </insert>

    <delete id="delete">
        delete from tbl_gallery where galId = #{galId}
    </delete>

    <select id="read" resultType="kr.go.ydpb.domain.GalleryVO">
        select * from tbl_gallery where galId = #{galId}
    </select>

    <update id="update">
        update tbl_gallery
        set galTitle = #{galTitle},
            galContent = #{galContent},
            galDepartment = #{galDepartment},
            galUpdatedate = sysdate,
            galTel = #{galTel}
        where galId = #{galId}
    </update>

    <!-- 검색 조건 -->
    <sql id="criteria">
        <where>
            <choose>
                <when test="searchType == 'T'.toString()">
                    galTitle like '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'C'.toString()">
                    galContent like '%'||#{searchKeyword}||'%'
                </when>
                <when test="searchType == 'D'.toString()">
                    galDepartment like '%'||#{searchKeyword}||'%'
                </when>
            </choose>
        </where>
    </sql>

    <!-- 리스트 -->
    <select id="getList" resultType="kr.go.ydpb.domain.GalleryVO">
        select galId, galTitle, galDate, galUpdatedate, galDepartment, galContent, galCount, galTel, memId
        from (
        select /*+INDEX_DESC(tbl_gallery SYS_C007039) */
        galId, galTitle, galDate, galUpdatedate, galDepartment, galContent, galCount, galTel, memId,
        ROW_NUMBER() over (order by galId desc) as rn
        from tbl_gallery
        <include refid="criteria"/>
        )
        where rn between (#{pageNum} - 1) * #{amount} + 1 and #{pageNum} * #{amount}
    </select>

    <!-- 총 갯수 -->
    <select id="getTotalCount" resultType="int">
        select count(*)
        from tbl_gallery
        <include refid="criteria"/>
    </select>

    <!-- 조회수 증가 -->
    <update id="updateCount">
        UPDATE tbl_gallery
        SET galCount = galCount + 1
        WHERE galId = #{galId}
    </update>

    <!-- 이전글 -->
    <select id="getPrev" resultType="kr.go.ydpb.domain.GalleryVO">
        select galId, galTitle
        from (
        select galId, galTitle,
        ROW_NUMBER() over (order by galId desc) as rn
        from tbl_gallery
        where galId &lt; #{galId}
        <if test="cri.searchType != null and cri.searchType != ''">
            and
            <choose>
                <when test="cri.searchType == 'T'.toString()">
                    galTitle LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'C'.toString()">
                    galContent LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'D'.toString()">
                    galDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
            </choose>
        </if>
        )
        where rn = 1
    </select>

    <!-- 다음글 -->
    <select id="getNext" resultType="kr.go.ydpb.domain.GalleryVO">
        select galId, galTitle
        from (
        select galId, galTitle,
        ROW_NUMBER() over (order by galId asc) as rn
        from tbl_gallery
        where galId &gt; #{galId}
        <if test="cri.searchType != null and cri.searchType != ''">
            and
            <choose>
                <when test="cri.searchType == 'T'.toString()">
                    galTitle LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'C'.toString()">
                    galContent LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
                <when test="cri.searchType == 'D'.toString()">
                    galDepartment LIKE '%'||#{cri.searchKeyword}||'%'
                </when>
            </choose>
        </if>
        )
        where rn = 1
    </select>

    <!-- 일정 기간 개수 조회 -->
    <select id="getCountPeriod" resultType="int">
        <![CDATA[
        select count(*)
        from tbl_gallery
        where galDate >= #{startDate} and galDate < #{endDate}
        ]]>
    </select>

</mapper>
