<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.MemberMapper">

    <select id="Login" parameterType="string" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT *
        FROM tbl_member
        WHERE memId = #{memId}
    </select>

    <update id="modifyMember">
        UPDATE TBL_MEMBER
        SET
            MEMADDRESS = #{memAddress},
            MEMADDRESSDETAIL = #{memAddressDetail},
            MEMTEL = #{memTel},
            MEMEMAIL = #{memEmail},
            MEMNEWS = #{memNews}
        WHERE
            MEMID = #{memId}
    </update>

</mapper>
