<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.MemberMapper">

    <select id="getMemberList" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_member
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="type == 'memId'">
                        AND memId LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test="type == 'memName'">
                        AND memName LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY memId DESC
    </select>

    <select id="getMemberById" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_member WHERE memId = #{memId}
    </select>

    <update id="updatePassword">
        UPDATE tbl_member
        SET memPassword = #{memPassword}
        WHERE memId = #{memId}
    </update>

    <delete id="deleteMember">
        DELETE FROM tbl_member WHERE memId = #{memId}
    </delete>

</mapper>