<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ydpb.mapper.MemberMapper">

    <select id="getMemberList" resultType="kr.go.ydpb.domain.MemberVO">
        <![CDATA[
    SELECT memId, memName, memPhone, memEmail, memAddress
    FROM (
        SELECT rownum rn, memId, memName, memPhone, memEmail, memAddress
        FROM (
            SELECT memId, memName, memPhone, memEmail, memAddress
            FROM tbl_member
            WHERE
    ]]>
        <if test="searchKeyword != null and searchKeyword != ''">
            <trim prefix="(" suffix=") AND " prefixOverrides="OR">
                <foreach item='type' collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'I'.toString()">memId LIKE '%'||#{searchKeyword}||'%'</when>
                            <when test="type == 'N'.toString()">memName LIKE '%'||#{searchKeyword}||'%'</when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
        <![CDATA[
            memId IS NOT NULL
            ORDER BY memId DESC
        )
        WHERE rownum <= #{pageNum} * #{amount}
    )
    WHERE rn > (#{pageNum} - 1) * #{amount}
    ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_member
        WHERE
        <if test="searchKeyword != null and searchKeyword != ''">
            <trim prefix="(" suffix=") AND " prefixOverrides="OR">
                <foreach item='type' collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'I'.toString()">memId LIKE '%'||#{searchKeyword}||'%'</when>
                            <when test="type == 'N'.toString()">memName LIKE '%'||#{searchKeyword}||'%'</when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
        memId IS NOT NULL
    </select>

    <select id="getMemberById" resultType="kr.go.ydpb.domain.MemberVO">
        SELECT * FROM tbl_member WHERE memId = #{memId}
    </select>

    <update id="updatePassword">
        UPDATE tbl_member
        SET memPassword = #{memPassword}
        WHERE memId = #{memId}
    </update>

    <delete id="deleteMember">
        DELETE FROM tbl_member WHERE memId = #{memId}
    </delete>

</mapper>